.l_header {
    position: relative;
    box-shadow: 0px 3px 10px 5px #bdbdbd;
}

.l_header_inner {
    align-items: center;
}

.l_header_navWrap::after {
    display:none;
}

main {
    width: 80%;
    margin: 0 auto 80px;
}

#header + * {
    margin-top: 50px;
}

h1, h2 {
    font-weight: normal;
    font-size: 2.8rem;
    margin-bottom: 1.2em;
    text-align: center;
}

section {
    margin-bottom: 30px;
}

.recruit_archive {
    width: 80%;
    margin: 0 auto 50px;
}

.recruit_archive ul{
}

.recruit_archive tr {
    padding: 100px 0px;
    border-bottom: #333 solid 1px;
}

.recruit_archive td, .recruit_archive th{
    padding: 30px 0 20px;
}

.btn {
    font-size: 1.4rem;
    display: inline-block;
    padding: 4px 7px;
    color: #fff;
}

.btn:hover {
    text-decoration: none;
}

.show_btn, .edit_btn {
    border: 1px solid #2ac13e;
    background-color: #74c12a;
}

.show_btn:hover, .edit_btn:hover {
    background-color: #2ac13e;
}

.confirm_list {
    width: 80%;
    margin: 30px auto;
    background-color: #eeeeee;
    font-size: 0;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.confirm_list dt, .confirm_list dd {
    box-sizing:border-box;
    height: 70px;
    padding: 20px 0;
    border-bottom: 1px solid #999;
    line-height: 2.4;
}

.confirm_list dt {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    width: 30%;
}

.confirm_list dd {
    padding-left: 20px;
    font-size: 1.2rem;
    width: 70%;
}

.confirm_list dt::after {
    content: ':'
}

.delete_btn {
    background-color: #ff3d3d;
    border: 1px solid #ff3d3d;
    font-size: 1.4rem;
}

.delete_btn:hover {
    background-color: #e22222;
}

.btn_wrap {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.btn_wrap .btn{
    margin-left: 10px;
}

.edit_form {
    width: 80%;
    margin: 30px auto;
    position: relative;
}

#entry-form {
}

.edit_form .edit_btn {
    position: absolute;
    bottom: -60px;
    right: 10px;
}

.l_header #logout {
    display: inline-block;
}

.graph_wrap {
    background-color: #f0f0f0;
    padding: 20px 40px;
}

.graph_wrap > div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: 15px 0;
}

#month_graph, #skill_graph {
    width: 100% !important;
    height: 300px !important;
}

canvas { 
    background-color: #ffffff;
}

#experienced_graph, #user_agent_graph {
    width: 48% !important;
    height: auto !important;
}

.pagination {
    justify-content: center;
}

.pagination li span, .pagination li a {
    width: 30px;
    height: 30px;
}

#selection_search {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: start;
}

#selection_search input[type="submit"] {
    background-color: rgb(66, 94, 255);
    color: #ffffff;
    border: rgb(1, 36, 238) solid 1px;
}

#selection_search input[type="submit"]:hover {
    opacity: .8;
}

@media screen and (max-width: 800px){
    .l_header_inner {
        display:flex;
        line-height: 1;
    }

    #experienced_graph, #user_agent_graph {
        width: 100% !important;
        height: auto !important;
    }
}