/* 全体 */
.recruit_l_header_nav_inner ul > li {
    width: 20%;
}

main ul {
    list-style-type: initial;
    list-style-position: inside;
}

h1, h2 {
    font-weight: normal;
    font-size: 2.8rem;
    margin-bottom: 1.2em;
    text-align: center;
}

h1 {
    margin-top: 50px;
}

h3 {
    font-weight: normal;
    font-size: 2.2rem;
    margin-bottom: 10px;
}

h2+p {
    text-align: center;
    width: 60%;
    margin: 0 auto 40px;
}

main section {
    margin-bottom: 30px;
}

main > section:last-of-type {
    margin-bottom: 0;
}

main > section , main > div, main > nav {
    position: relative;
    padding: 20px 0 40px;
}

main > section > *, main > nav {
    width: 80%;
    margin-left: auto; margin-right: auto;
}

/* 採用サイト */

#new_recruit_c_feature li {
    font-size: 1.6rem;
}

.n_list_style {
    list-style-type: none;
}
.s_list_type {
    list-style-type: square;
}

.bcg_l_gray {
    padding-top: 30px;
    background-color: #f6f6f6;
}

.line_block {
    display: flex;
    justify-content: center;   
}

.page_jump_nav {
    padding-bottom: 20px;
}

.page_jump_nav ul {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    width: 90%;
    margin-left: auto; margin-right: auto;
    text-align: center;
}

.page_jump_nav li {
    margin-bottom: 10px;
    width: 20%;
    box-sizing: border-box;
    padding: 0 10px;
    vertical-align: bottom;
}

.page_jump_nav li + li {
    border-left: 1px solid #ccc;
}

.page_jump_nav a:hover {
    color: #e12c86;
} 

.line_block > div {
    width: 55%;
    min-width: 225px;
    box-sizing: border-box;
    padding: 0 20px 0 50px;
    position: relative;
}

.line_block > div > ul {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.bcg_w {
    background-color: #ffffff;
}

.new_recruit_mainvis {
    background-image: url("../images/top/main1.jpg");
    background-size: cover;
    background-position: center center;
}

.heading_img {
    position: relative;
    width: 80%;
    min-width: 750px;
    height: 350px;
    margin: 0 auto 56px;
    padding-left: 0;padding-right: 0;
}

.heading_img > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
}

.heading_ttl {
    font-size: 3.2rem;
    font-weight: bold;
    margin-bottom: 40px;
}

.new_recruit_overview dl {
    display: flex;
    margin-bottom: 14px;
}

.new_recruit_overview dt {
    background-color: #ccc;
    border-left: 5px solid #e12c86;
    color: #fff;
    text-align: left;
    width: 25%;
    min-width: 120px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 20px;
    font-size: 1.8rem;
}

.new_recruit_overview dd {
    background-color: #f6f6f6;
    width: 75%;
    min-width: 600px;
    box-sizing: border-box;
    padding: 20px 50px;
}

#new_recruit_selection > section {
    margin-top: 30px;
    text-align: center;
}

#new_recruit_selection ol {
    counter-reset: my-counter;
    width: 80%;
    padding-left: 100px;
    margin: 0 auto;
}

ol li p, ol li h4 {
    text-align: left;
    padding-left: 10px;
}

ol li > section {
    padding-top: 5px;
    margin-bottom: 10px;
}

.program_ttl {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.program_ttl > span {
    font-size: 1.4rem;
    vertical-align: text-top;
}

.program_ttl > span::before {
    content: " - ";
}

#new_recruit_selection ol li {
    position: relative;
}

#new_recruit_selection ol li::before {
    content: counter(my-counter);
    counter-increment: my-counter;
    color: #ffffff;
    width: 35px;
    height: 35px;
    display: inline-block;
    box-sizing: border-box;
    background-color: #999;
    border-radius: 50%;
    position: absolute;
    left: -32px;
    padding-top: 8px;
}

.new_recruit_info h2 {
    margin-top: 40px;
}

.date {
    color: #e12c86;
}

h2 + p.date {
    margin-top: -30px;
}

.new_recruit_info figure {
    height: 420px;
    overflow:hidden;
    display: block; 
    margin: 0 auto;
}

.new_recruit_info table {
    margin-bottom: 40px;
    border-collapse: separate;
    border-spacing: 2px;
    border: 1px solid #e12c86;
}

.new_recruit_info tr {
    margin-bottom: 2px;
}

.new_recruit_info th {
    padding: 10px 20px;
    width: 22%;
    min-width: 72px;
    background-color: #ffe4f2;
    text-align: right;
    border-right: 1px solid #e12c86;
}

.new_recruit_info tr:last-of-type {
    border: none;
}

.new_recruit_info td {
    padding: 10px 20px 10px 50px;
}

.new_recruit_btn {
    width: 320px;
    margin: 0 auto;
}

.new_recruit_btn a {
    display: block;
    background-color: #74c12a;
    color: #ffffff;
    font-size: 2.4rem;
    padding: 10px 25px;
    text-align:center;
    position: relative;
}

.new_recruit_btn a::after {
    content: url("../images/common/ic_arrow01.png");
    position: absolute; 
    right: 0;
    top: 13px;
    padding-right: 10px;
    font-family: "Font Awesome", sans-serif;
}

.new_recruit_btn a:hover {
    text-decoration: none;
    opacity: .8;
}

/* 応募フォーム */

form {
    margin-top: 20px;
}

form table label {
    display: inline-block;
    margin-bottom: 10px;
    vertical-align: middle;
}


.form-ttl {
    margin-top: 30px;
    font-size: 2.5rem;
} 
 
#entry-form {
    width: 100%;
}

#entry-form tr > * {
    vertical-align: middle;
    padding: 20px;
    border: 1px solid #ccc;
}

#entry-form th {
    background-color: #ebebeb;
    text-align: center;
    font-weight: bold;
    width: 30%;
}

#entry-form td > span {
    font-size: 1.2rem;
    color: #999999;
}

#entry-form input, #entry-form textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    font: inherit;
    border: solid 1px #ccc;
    background: #f7f7f7;
    margin-bottom: 5px;
}

#entry-form input[type="radio"], #entry-form input[type="checkbox"] {
    width: initial;
}

.must {
    color: #dc0000;
    font-weight: normal;
}

#consent-form {
    margin: 30px 0;
    padding: 60px 30px 30px;
    border: 1px solid #ccc;
    overflow: auto;
    height: 250px;
    background: #efefef;
    position: relative;
}

#consent-form .to_recruit {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 1.4rem;
    margin-bottom: 10px;
    font-weight: normal;
}

#consent-form h4 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.8rem;
}

#consent-form .text01 {
    margin-bottom: 20px;
}

#consent-form dl dt {
    font-size: 14px;
    font-weight: bold;
}

#consent-form dl dd {
    margin-left: 30px;
    margin-bottom: 30px;
    font-size: 12px;
}

#agree-area {
    text-align: center;
}

.new_recruit_submit {
    display: block;
    margin: 25px auto 0;
    width: 410px;
    background-color: #74c12a;
    color: #ffffff;
    font-size: 2.4rem;
    padding: 10px 25px;
    text-align:center;
    position: relative;
    border: none;
}

.new_recruit_submit:hover {
    opacity: .6;
}

.new_recruit_submit::after {
    content: url("../images/common/ic_arrow01.png");
    position: absolute; 
    right: 0;
    top: 13px;
    padding-right: 10px;
}

#form-confirm ul {
    list-style-type: none;
    text-align: center;
}

#form-confirm li {
    padding: 20px 0;
    border-bottom: 1px solid #999;
}

a.back_btn {
    background-color: #e12c86;
    box-sizing: border-box;
    margin-top: 50px;
}

#form-confirm form {
    width: 100%;
}

#form-complete p {
    text-align: center;
}

#form-complete {
    margin-bottom: 50px;
}

#form-error {
    color: red;
}

.form_error {
    color: red;
}

@media screen and (max-width: 800px) {
    h1 {
        margin-top: 0;
        line-height: 1.2;
    }
    
    h1,h2 {
        margin-bottom: .8em;
        font-size: 2.5rem;
    }

    h2+p {
        margin-bottom: 20px;
    }

    main > section, main > div {
        padding: 30px 0;
    }
    
    main > section > * {
        width: 90%;
    }

    .page_jump_nav {
        width: 100%;
    }

    .page_jump_nav li {
        border-left: 1px solid #ccc;
        min-width: 100px;
    }

    .heading_img {
        width: 100%;
        min-width: unset;
        height: auto;
        margin-bottom: 20px;
    }

    .heading_ttl {
        line-height: 1.2;
        font-size: 2.2rem;
        margin-bottom: 20px;
    }

    .heading_img > div {
        width: 100%;
        padding: 20px;
        position: relative;
        transform: translateX(-50%);
    }

    #new_recruit_c_feature li {
        font-size: 1.5rem;
    }

    .new_recruit_overview dl {
        display: block;
        margin-bottom: 0;
    }

    .new_recruit_overview dd {
        padding-top: 10px; padding-bottom: 10px;
    }

    .new_recruit_overview {
        margin-bottom: 10px;
    }

    .new_recruit_overview dt, .new_recruit_overview dd {
        width: 100%;
        min-width: initial;
    } 

    .new_recruit_overview ul {
        text-align: left;
    }

    .line_block {
        display: block;
    }

    .line_block > div > ul {
        position: static;
        transform: none;
        padding: 30px;
    }

    .line_block > div {
        width: 100%;
        padding-left:0; padding-right: 0;
    }

    .line_block img {
        width: 100% !important;
    }
    
    .line_block > figure {
        height: 45vw;
        overflow:hidden;
    }

    .new_recruit_info figure {
        height: 45vw;
    }

    #new_recruit_selection section {
        margin-top: 20px;
        text-align: center;
        margin-left: auto; margin-right: auto;
    }

    #new_recruit_selection ol {
        padding-left: 0;
    }

    .new_recruit_info h2 {
        margin-top: 20px;
    }

    .new_recruit_info p.date {
        margin-top: -15px;
    }

    /* 応募フォーム(レスポンシブ対応) */

    .new_recruit_info td {
        padding-left: 40px;
    }

    .new_recruit_btn, .new_recruit_submit {
        width: 90%;
    }
    
    .must {
        display: block;
    }
    
    #consent-form {
        height: 140px;
    }
}