@charset "UTF-8";

/**
 * Base
 */
html {
  font-size: 10px;
}

body {
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック体", "游ゴシック Medium", "Yu Gothic Medium", "メイリオ", Meiryo, sans-serif;
  font-size: 1.4rem;
  line-height: 1.6;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
@media all and (-ms-high-contrast:none) {
    body {
        font-family: "メイリオ", Meiryo, "游ゴシック体", "游ゴシック Medium", "Yu Gothic Medium", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", sans-serif;
    }
}

address {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, dl, dt, dd {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  border-style: none;
  text-decoration: none;
  color: #333;
  line-height: inherit;
}

a:hover {
  text-decoration: underline;
}

img {
  border-style: none;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}


/*
jQuery Validate
===============================================*/
label.error {
  display: block;
  margin-top: 5px;
  color: #ff0000;
}



/* =====================================================
 Smartphone view
===================================================== */
@media screen and (max-width:800px) {

  body {
    font-size: 12px;
    /*-webkit-text-size-adjust: 100%;*/
    -webkit-text-size-adjust: none;
    line-height: 1.5;
  }

  a:hover {
    text-decoration: none;
  }

  object, embed {
    max-width: 100%;
  }
}
