@charset "UTF-8";

/**
 * Themes - ENTRY
 */
.theme-area.l-area-visual {
  background-image: url(../../images/pc/entry/bg_mvisual_01.jpg);
}
.job-entry .md-table > dt {
  width: 240px;
}
.entryBnr {
  text-align: center;
}
.entryBnr a {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.entryBnr a:hover {
  opacity: 0.7;
}

/** entry 同意書 **/
.job-entry h3 {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: normal;
}
.job-entry #consent-form {
    margin: 30px 0;
    padding: 30px;
    border: 1px solid #ccc;
    overflow: auto;
    height: 250px;
    background: #efefef;
}
.job-entry #consent-form:after {
    content: "";
    display: block;
    overflow: hidden;
    clear: both;
}
.job-entry #consent-form h4 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 18px;
}
.job-entry #consent-form p.txt01 {
    margin-bottom: 20px;
}
.job-entry #consent-form dl dt {
    font-size: 14px;
    font-weight: bold;
}
.job-entry #consent-form dl dd {
    margin-left: 30px;
    margin-bottom: 30px;
    font-size: 12px;
}
.job-entry #consent-form #contact {
    padding: 25px;
    background: #f0f0f0;
    float: right;
}
.job-entry #judge-area {
    text-align: center;
    font-weight: bold;
}
.job-entry #judge-area a {
    display: inline-block;
    color: #FFF;
    margin: 0 20px;
    padding: 20px;
    -webkit-box-shadow: #CCC 3px 3px 0px;
    -moz-box-shadow: #CCC 3px 3px 0px;
    box-shadow: #CCC 3px 3px 0px;
}
.job-entry #judge-area #agree {
    background: #f22c7c;
    font-size: 18px;
}
.job-entry #judge-area #disagree {
    background: #999;
    font-size: 12px;
}
/** entry 入力フォーム **/
.job-entry span.required {
    color: #dc0000;
}
.job-entry table {
    width: 100%;
    border-collapse: collapse;
}
.job-entry table th {
    background: #ebebeb;
    vertical-align: middle;
    border: 1px solid #ccc;
    padding: 20px;
    width: 25%;
}
.job-entry table td {
    vertical-align: middle;
    border: 1px solid #ccc;
    padding: 20px;
}
.job-entry input[type=text],
.job-entry input[type=email],
.job-entry .md-table textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    font: inherit;
    border: solid 1px #ccc;
    background: #f7f7f7;
}
.job-entry .md-table textarea {
    resize: vertical;
    min-height: 150px;
}
.job-entry #zip-code {
    width: 100px;
}
.job-entry #address {
    margin-top: 10px;
}
.job-entry .md-table > dd label {
    cursor: pointer;
}
.job-entry .md-table ul:after {
    content: "";
    display: block;
    overflow: hidden;
    clear: both;
}
.job-entry .md-table ul li {
    float: left;
    margin-right: 30px;
}
.job-entry .txt-example {
    font-size: 12px;
    color: #999;
    margin-top: 5px;
}
.job-entry .md-table dl dt:first-child {
    margin-top: 0;
}
.job-entry .md-table dl dt {
    margin-top: 20px;
    font-weight: bold;
}
.job-entry .md-table dl dd {
    margin-left: 5px;
}
.job-entry .md-btn {
    min-width: 410px;
}
.job-entry ul.md-btn-wrap .md-btn {
    min-width: 310px;
}
.job-entry #agree-area {
    text-align: center;
}
.job-entry .job-shimane {
    margin-top: 20px;
}


@media screen and (max-width: 800px) {
  .theme-area.l-area-visual {
    background-image: url(../../images/sp/entry/bg_mvisual_01.jpg);
  }
  .job-entry .md-table > dt {
    width: 100%;
  }
  /** entry 同意書 **/
  .job-entry h3 {
      font-size: 14px;
      margin-bottom: 10px;
      font-weight: normal;
  }
  .job-entry #consent-form {
      overflow: visible;
      height: auto;
      margin: 20px 0;
      padding: 0;
      border: none;
      background: transparent;
  }
  .job-entry #consent-form h4 {
      text-align: center;
      margin-bottom: 20px;
      font-size: 18px;
  }
  .job-entry #consent-form p.txt01 {
      margin-bottom: 20px;
  }
  .job-entry #consent-form dl dt {
      font-size: 14px;
      font-weight: bold;
  }
  .job-entry #consent-form dl dd {
      margin-left: 20px;
      margin-bottom: 20px;
      font-size: 12px;
  }
  .job-entry #consent-form #contact {
      padding: 25px;
      background: #f0f0f0;
  }
  .job-entry #judge-area {
      text-align: center;
      font-weight: bold;
  }
  .job-entry #judge-area a {
      display: inline-block;
      color: #FFF;
      margin: 0 10px 20px 0;
      padding: 15px;
      -webkit-box-shadow: #CCC 3px 3px 0px;
      -moz-box-shadow: #CCC 3px 3px 0px;
      box-shadow: #CCC 3px 3px 0px;
  }
  .job-entry #judge-area #agree {
      background: #f22c7c;
  }
  .job-entry #judge-area #disagree {
      background: #999;
      font-size: 12px;
  }
  /** entry 入力フォーム **/
  .job-entry span.required {
      color: #dc0000;
  }
  .job-entry table {
      border-collapse: collapse;
      width: 100%;
  }
  .job-entry table th,
  .job-entry table td {
      box-sizing: border-box;
      display: block;
      width: 100%;
      text-align: left;
  }
  .job-entry table th {
      background: #ebebeb;
      border: 1px solid #ccc;
      padding: 10px;
  }
  .job-entry table td {
      border: 1px solid #ccc;
      padding: 10px;
  }
  .job-entry input[type=text],
  .job-entry input[type=email] {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .job-entry .md-table textarea {
      min-height: 80px;
  }
  .job-entry input[type=radio]:checked + label {
      font-weight: bold;
  }
  .job-entry #zip-code {
      width: 100px;
  }
  .job-entry .md-table ul li {
      margin-bottom: 5px;
  }
  .job-entry .md-table .txt-example {
      font-size: 12px;
      color: #999;
      margin-top: 5px;
  }
  .job-entry .md-table dl dt:first-child {
      margin-top: 0;
  }
  .job-entry .md-table dl dt {
      margin-top: 20px;
      font-weight: bold;
  }
  .job-entry .md-table dl dd {
      margin-left: 5px;
      margin-bottom: 5px;
  }
  .job-entry #agree-area {
      text-align: center;
  }
  .job-entry .job-shimane {
      margin-top: 15px;
  }
}