@charset "UTF-8";

/* Clear Fix
===============================================*/
.l_footer_nav:after,
.l_footer_colset_col2:after,
.l-col2set .l-col2set-inner:after, .l-col2set:after, .l-col8set .l-col8set-inner:after, .l-col8set:after, .l-form .l-form-list:after,
.l-sec-works-items:after,
.l-col3set:after,
.l-col3set-inner:after,
.l-col4set:after,
.l-col4set-inner:after {
  content: '';
  display: block;
  clear: both;
}

/**
 * Layout
 */
html {
  overflow-y: scroll;
}
.l_wrap {
  position: relative;
  padding-top: 1px;
  margin-top: -1px;
}
html[lang=en] .l_wrap {
  word-break: normal;
}

#header + *,
#header + .l-area-visual,
#header + #contents {
  margin-top: 114px;
}

#contents,
.l-area .l-area-inner {
  box-sizing: border-box;
  /*width: 990px;*/
  max-width: 990px;
  margin: 0 auto;
  padding: 70px 20px;
}

#contents {
  padding-bottom: 20px;
}
.l-subnav + #contents {
  padding-top: 40px;
}


.l_header {
  -webkit-transition: padding .2s ease-out, background .2s ease-out, box-shadow .2s ease-out;
     -moz-transition: padding .2s ease-out, background .2s ease-out, box-shadow .2s ease-out;
      -ms-transition: padding .2s ease-out, background .2s ease-out, box-shadow .2s ease-out;
       -o-transition: padding .2s ease-out, background .2s ease-out, box-shadow .2s ease-out;
          transition: padding .2s ease-out, background .2s ease-out, box-shadow .2s ease-out;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  box-shadow: none;
}
.l_header.is_scrolled {
  background-color: rgba(255,255,255,0.9);
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.14);
  padding-top: 18px;
  padding-bottom: 18px;
}
.l_wrap .l_header.is_menuOpened {
  pointer-events: none;
  background-color: transparent;
  box-shadow: none;
}
.l_header.is_menuOpened .l_header_logo,
.l_header.is_menuOpened .l_header_nav,
.l_header.is_menuOpened .l_header_menu {
  pointer-events: auto;
}

.l_header_inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 1520px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.l_header_logo {
  min-width: 156px;
  line-height: 1;
}
.l_header_logo a {
  -webkit-transition: opacity .2s ease-out;
     -moz-transition: opacity .2s ease-out;
      -ms-transition: opacity .2s ease-out;
       -o-transition: opacity .2s ease-out;
          transition: opacity .2s ease-out;
  opacity: 1;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
}
.l_header_logo a:hover {
  opacity: .6;
}
.l_header_logo img {
  display: block;
  float: left;
}
.l_header_logo_symbol {
  width: 35px;
  height: 35px;
  margin-right: 4px; /* .l_header_logo_txtのmargin-leftでバグがでるため */
}
.l_header_logo_txt {
  width: 118px;
  height: 14px;
  margin-top: 10px;
}
.l_header_navWrap {
  position: relative;
  margin-left: 8px;
}
.l_header_navWrap:after {
  content: "";
  display: block;
  width: 15px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 50%;
  right: -20px;
}
.l_header_nav,
.l_menu_nav {
  font-family: myriad-pro, sans-serif;
  font-style: normal;
  font-weight: 900;
  text-align: center;
}
.l_header_nav a,
.l_menu_nav a {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding-left: 4px;
  padding-right: 4px;
  color: #000;
}
.l_header_nav a:hover,
.l_menu_nav a:hover {
  text-decoration: none;
}
.l_header_nav a:after,
.l_menu_nav a:after {
  -webkit-transition: width .2s ease-out;
     -moz-transition: width .2s ease-out;
      -ms-transition: width .2s ease-out;
       -o-transition: width .2s ease-out;
          transition: width .2s ease-out;
  content: "";
  display: block;
  position: absolute;
  bottom: -13px;
  left: 0;
  right: 0;
  width: 0;
  height: 3px;
  background: #f22c7c; /* Old browsers */
  background: -moz-linear-gradient(left, #f22c7c 0%, #744fdf 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #f22c7c 0%,#744fdf 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f22c7c 0%,#744fdf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.l_header_nav a:hover:after,
.l_menu_nav a:hover:after,
.l_header_nav .current-menu-item a:after,
.l_menu_nav .current-menu-item a:after {
  width: 100%;
}

.l_header_nav {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.4rem;
  line-height: 1.1;
}
.l_header_nav > li {
  margin-left: 8px;
  margin-right: 8px;
}
.l_header_nav > li:first-child {
  margin-left: 0;
}
.l_header_nav > li:last-child {
  margin-right: 0;
}
.l_header_menu {
  display: none;
}

.l_menu {
  -webkit-transition: opacity .2s ease-out;
     -moz-transition: opacity .2s ease-out;
      -ms-transition: opacity .2s ease-out;
       -o-transition: opacity .2s ease-out;
          transition: opacity .2s ease-out;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
  position: fixed;
  z-index: 9000;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  opacity: 0;
}
.l_menu.is_open {
  opacity: 1;
}
.l_menu_content {
  box-sizing: border-box;
  min-height: 350px;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.l_menu_nav {
  font-size: 2rem;
  line-height: 1.1;
  margin-bottom: 7vh;
}
.l_menu_nav > li {
  margin-bottom: 3vh;
}
.l_menu_subNav {
  text-align: center;
  line-height: 1.1;
  margin-bottom: 7vh;
}
.l_menu_subNav a {
  -webkit-transition: opacity .2s ease-out;
     -moz-transition: opacity .2s ease-out;
      -ms-transition: opacity .2s ease-out;
       -o-transition: opacity .2s ease-out;
          transition: opacity .2s ease-out;
  opacity: 1;
  text-decoration: underline;
}
.l_menu_subNav a:hover {
  opacity: .6;
}

.l_menu_subNav > li {
  margin-bottom: 3vh;
}

.l_menu_sns {
  line-height: 1;
}
.l_menu_sns ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.l_menu_sns li {
  margin-left: 16px;
  margin-right: 16px;
}
.l_menu_sns li > a {
  -webkit-transition: opacity .2s ease-out;
     -moz-transition: opacity .2s ease-out;
      -ms-transition: opacity .2s ease-out;
       -o-transition: opacity .2s ease-out;
          transition: opacity .2s ease-out;
  opacity: 1;
  display: inline-block;
  vertical-align: top;
}
.l_menu_sns li > a:hover {
  opacity: .6;
  text-decoration: none;
}
.l_menu_sns li > a img {
  width: 20px;
  height: auto;
}

.l_contentHeader {
  position: relative;
  display: block;
  text-align: center;
  color: #000;
  padding: 32px 20px;
}
.l_contentHeader:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  height: 4px;
  left: 0;
  right: 0;
  margin: auto;
  background: #f22c7c; /* Old browsers */
  background: -moz-linear-gradient(left, #f22c7c 0%, #744fdf 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #f22c7c 0%,#744fdf 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f22c7c 0%,#744fdf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
.l_contentHeader_ttl {
  text-align: center;
  line-height: 1.4;
  font-size: 3.4rem;
  font-weight: bold;
}
.l_contentHeader_subTtl {
  text-align: center;
  font-family: myriad-pro, sans-serif;
  font-style: normal;
  font-weight: 900;
  line-height: 1.2;
  font-size: 2.0rem;
}

.l_content {
  position: relative;
  padding-top: 32px;
  padding-bottom: 1px;
  background-color: #f5f5f5;
}
.l_content + .l_content {
  padding-top: 0;
}
.l_content.l_content__bg {
  padding-top: 60px;
  background-color: #f0f0f0;
}

.l_content_inner {
  box-sizing: border-box;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.l_content_inner + .l-area .l-area-inner {
  padding-top: 40px;
}
.l_content__type2 {
  background-color: #fff;
}
.l_interview {
  padding: 40px 20px;
}
.l_interview_inner {
  max-width: 990px;
  margin-left: auto;
  margin-right: auto;
}
.l_interview_inner > :last-child {
  margin-bottom: 0;
}
.l_interview_header {
  margin-bottom: 80px;
}
.l_interview_header > :last-child {
  margin-bottom: 0;
}
.l_interview_body {}
.l_interview_body > :last-child {
  margin-bottom: 0;
}

.l_mainVisual {
  overflow: hidden;
  position: relative;
  height: 436px;
  margin-bottom: 40px;
  color: #fff;
  line-height: 1.8;
}
.l_mainVisual a {
  text-decoration: underline;
}
.l_mainVisual:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  display: block;
  background: no-repeat #000 center center;
  -webkit-background-size: cover;
  background-size: cover;
}
.l_mainVisual + #contents {
  padding-top: 0;
}
.l_mainVisual_inner {
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}
.l_mainVisual_inner > *:last-child {
  margin-bottom: 0;
}
.l_mainVisual_ttl {
  font-size: 3.2rem;
  line-height: 1.4;
  margin-bottom: 24px;
  text-align: center;
}
.l_mainVisual_lead {
  -webkit-font-smoothing: antialiased;
  max-width: 700px;
  text-align: left;
}
.l_mainVisual__type2 .l_mainVisual_lead {
  text-align: center;
}

/* SERVICE */
.l_mainVisual__service:after {
  background-image: url("../images/service/main_visual_service.jpg");
  -webkit-transform: scale(1.35);
     -moz-transform: scale(1.35);
      -ms-transform: scale(1.35);
       -o-transform: scale(1.35);
          transform: scale(1.35);
}
.l_mainVisual__works:after {
  background-image: url("../images/work/main_visual_work.jpg");
}
.l_mainVisual__chatbot:after {
  background-image: url("../images/service/main_visual_bot.jpg");
}
.l_mainVisual__app:after {
  background-image: url("../images/service/main_visual_app.jpg");
}
.l_mainVisual__web:after {
  background-image: url("../images/service/main_visual_web.jpg");
}
/* CONTACT */
.l_mainVisual__contact:after {
  background-image: url("../images/contact/main_visual_contact.jpg");
}
/* COMPANY */
.l_mainVisual__company:after {
  background-image: url("../images/company/main_visual_company.jpg");
}
/* NEWS */
.l_mainVisual__news:after {
  background-image: url("../images/news/main_visual_news.jpg");
}

.l_mainVisual2 {
  background-size: cover;
  background-position: center top;
  display: flex;
  justify-content: flex-end;
  height: 408px;
  text-align: right;
  padding: 36px 40px;
  margin-bottom: 24px;
}
.l_mainVisual2_inner {}
.l_mainVisual2_inner > :last-child {
  margin-bottom: 0;
}
.l_mainVisual2_label {
  margin-bottom: 80px;
  margin-right: -40px;
}
.l_mainVisual2_label_inner {
  position: relative;
  display: inline-block;
  padding-bottom: 14px;
  padding-right: 40px;
}
.l_mainVisual2_label_inner:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background-image: linear-gradient(-45deg, #744FDF 0%, #f12d7d 100%);
}
.l_mainVisual2_label_txt {
  font-size: 1.2rem;
  font-weight: normal;
}
.l_mainVisual2_label_txt2 {
  font-family: myriad-pro, sans-serif;
  font-size: 1.8rem;
  font-weight: 900;
}
.l_mainVisual2_label_txt + .l_mainVisual2_label_txt2 {
  margin-left: 10px;
}
.l_mainVisual2_txt {
  font-size: 2.8rem;
  line-height: 1.5;
  font-weight: bold;
  margin-bottom: 24px;
}
.l_mainVisual2_txt2 {
  margin-bottom: 40px;
}
.l_mainVisual2__director .l_mainVisual2_txt {
  display: inline-block;
  max-width: 380px;
}
.l_mainVisual2__director .l_mainVisual2_txt2 br {
  display: none;
}
.l_mainVisual2__systemengineer .l_mainVisual2_txt {
  display: inline-block;
  max-width: 490px;
}

.l_breadcrumbs {
  margin-top: 8px;
  margin-bottom: 8px;
  line-height: 1.4;
  font-size: 1.2rem;
}
.l_breadcrumbs a[href]:hover {
  opacity: .6;
}
.l_breadcrumbs_content {
  box-sizing: border-box;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  text-align: right;
}
.l_breadcrumbs_content > li {
  display: inline-block;
  vertical-align: top;
}
.l_breadcrumbs_content > li:after {
  content: "/";
  display: inline-block;
  vertical-align: top;
  margin-left: 0.8em;
  margin-right: 0.8em;
}
.l_breadcrumbs_content > li:last-child {
  color: #9b9b9b;
}
.l_breadcrumbs_content > li:last-child:after {
  display: none;
}

.l_footer {
  position: relative;
  background-color: #fff;
  color: #4a4a4a;
  padding-top: 65px;
  padding-bottom: 16px;
}
.l_footer:after {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  margin: auto;
  height: 4px;
  background: #f22c7c; /* Old browsers */
  background: -moz-linear-gradient(left, #f22c7c 0%, #744fdf 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #f22c7c 0%,#744fdf 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f22c7c 0%,#744fdf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
.l_footer_inner {
  overflow: hidden;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.l_footer_colset {
  display: flex;
  justify-content: space-between;
}
.l_footer_colset_col {
  box-sizing: border-box;
  width: 440px;
  padding-right: 8px;
}
.l_footer_colset_col2 {
  box-sizing: border-box;
  width: 500px;
  padding-left: 8px;
}

.l_footer_nav {
  font-family: myriad-pro, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.4rem;
  line-height: 1.1;
  margin: 12px -8px -56px 0;
}
.l_footer_nav > li {
  float: left;
  box-sizing: border-box;
  width: 25%;
  padding-right: 8px;
  margin-bottom: 56px;
}
.l_footer_nav > li:nth-child(4n+1) {
  clear: left;
}
.l_footer_nav > li > a {
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-transition: opacity .2s ease-out;
     -moz-transition: opacity .2s ease-out;
      -ms-transition: opacity .2s ease-out;
       -o-transition: opacity .2s ease-out;
          transition: opacity .2s ease-out;
  opacity: 1;
}
.l_footer_nav > li a:hover {
  opacity: .6;
}
.l_footer_nav > li > a[target="_blank"] {
  padding-right: 18px;
}
.l_footer_nav > li > a[target="_blank"]:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 13px;
  height: 12px;
  background: url("../../images/common/icon-external-link.svg") no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}
.l_footer_nav > li > a:hover {
  text-decoration: none;
}
.l_footer_nav > li > a .menu-item-description {
  display: block;
  color: #adadad;
  font-size: 1.0rem;
  font-weight: normal;
}

.l_footer_nav .sub-menu {
  font-weight: normal;
  font-size: 1.0rem;
  margin-top: 14px;
}
.l_footer_nav .sub-menu > li {
  margin-bottom: 6px;
}
.l_footer_subNav,
.l_footer_subNav2 {
  display: block;
  text-align: left;
  font-family: myriad-pro, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.0rem;
  line-height: 1.1;
}
.l_footer_subNav a,
.l_footer_subNav2 a {
  -webkit-transition: opacity .2s ease-out;
     -moz-transition: opacity .2s ease-out;
      -ms-transition: opacity .2s ease-out;
       -o-transition: opacity .2s ease-out;
          transition: opacity .2s ease-out;
  text-decoration: underline;
}
.l_footer_subNav a:hover,
.l_footer_subNav2 a:hover {
  opacity: .6;
}

.l_footer_subNav {
  display: none;
}
.l_footer_subNav > li {
  margin-bottom: 12px;
}
.l_footer_subNav2 {
  margin-right: -8px;
}
.l_footer_subNav2 > li {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 33%;
  padding-right: 8px;
  margin-bottom: 8px;
}

.l_footer_logo {
  float: left;
  line-height: 1;
  margin-bottom: 32px;
}
.l_footer_logo > img {
  vertical-align: top;
}
.l_footer_sns {
  overflow: hidden;
  line-height: 1;
  margin-top: 7px;
}
.l_footer_sns ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.l_footer_sns li {
  margin-left: 16px;
  margin-right: 16px;
}
.l_footer_sns li > a {
  -webkit-transition: opacity .2s ease-out;
     -moz-transition: opacity .2s ease-out;
      -ms-transition: opacity .2s ease-out;
       -o-transition: opacity .2s ease-out;
          transition: opacity .2s ease-out;
  opacity: 1;
  display: inline-block;
  vertical-align: top;
}
.l_footer_sns li > a:hover {
  opacity: .6;
  text-decoration: none;
}
.l_footer_sns li > a img {
  width: 20px;
  height: auto;
}
.l_footer_address {
  clear: both;
  margin-bottom: 48px;
  font-size: 1.2rem;
}
.l_footer_address address br {
  display: none;
}
.l_footer_privacymark {
  text-align: center;
  line-height: 1;
  margin-bottom: 32px;
}
.l_footer_privacymark a {
  -webkit-transition: opacity .2s ease-out;
     -moz-transition: opacity .2s ease-out;
      -ms-transition: opacity .2s ease-out;
       -o-transition: opacity .2s ease-out;
          transition: opacity .2s ease-out;
  display: inline-block;
  vertical-align: top;
  opacity: 1;
}
.l_footer_privacymark a:hover {
  opacity: .6;
}
.l_footer_privacymark > img {
  vertical-align: top;
}
.l_footer_copyright {
  text-align: center;
  font-size: 1.0rem;
  line-height: 1.4;
}

.l_contact {
  padding-top: 48px;
  padding-bottom: 48px;
  margin-bottom: 56px;
  color: #fff;
  text-align: center;
  background: #744fdf; /* Old browsers */
  background: -moz-linear-gradient(left, #744fdf 0%, #f22c7c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #744fdf 0%,#f22c7c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #744fdf 0%,#f22c7c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.l_contact a {
  color: inherit;
}
.l_contact_inner {
  box-sizing: border-box;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.l_contact_inner > *:last-child {
  margin-bottom: 0;
}
.l_contact_ttl {
  font-weight: bold;
  line-height: 1.4;
  font-size: 3.2rem;
}
.l_contact_subTtl {
  font-family: myriad-pro, sans-serif;
  font-style: normal;
  font-weight: 900;
  line-height: 1.2;
  font-size: 1.6rem;
  margin-bottom: 32px;
}
.l_contact_body {
  -webkit-font-smoothing: antialiased;
  margin-bottom: 40px;
}
.l_contact_btnWrap {
  margin-top: 48px;
  margin-bottom: 48px;
  text-align: center;
}
.l_contact_btn {
  -webkit-transition: opacity .2s ease-out;
     -moz-transition: opacity .2s ease-out;
      -ms-transition: opacity .2s ease-out;
       -o-transition: opacity .2s ease-out;
          transition: opacity .2s ease-out;
  font-family: myriad-pro, sans-serif;
  font-style: normal;
  font-weight: 900;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  vertical-align: top;
  border: 2px #fff solid;
  text-align: center;
  min-width: 300px;
  padding: 12px 32px;
  line-height: 1.35;
  color: #fff;
  font-size: 135.71%;
}
.l_contact_btn:hover {
  opacity: .5;
  text-decoration: none;
}

.l-area {
  position: relative;
}

.l-area.l-area-snav {
  background-color: #fff;
}
.l-area.l-area-snav .l-area-inner {
  padding: 0;
}
.l-area.l-area-press {
  background-color: #f4f4f4;
}
.l-area.l-area-works {
  background-color: #fff;
}
.l-area.l-area-rd {
  background-image: url("../images/pc/top/bg_rd_01.jpg");
          background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
}
.l-area.l-area-recruit {
  background-color: #fbeddd;
}
.l-area.l-area-recruit .l-area-inner {
  padding-bottom: 0;
}
.l-area.l-area-breadcrumb .l-area-inner {
  padding-top: 10px;
  padding-bottom: 10px;
}
.l-area.l-area-lab {
  background-color: #fbfaf8;
}
.l-area.l-area-contact {
  background-color: #f6f6f6;
}
.l-area.l-area-sns {
  background-color: #f6f6f6;
}
.l-area.l-area-sns .l-area-inner {
  overflow: hidden;
  height: 61px;
  padding: 0;
}
.l-area.l-area-sitemap {
  background-color: #666;
  color: #fff;
}
.l-area.l-area-sitemap a {
  color: #fff;
}
.l-area.l-area-footer {
  background-color: #fff;
}
.l-area.l-area-footer .l-area-inner {
  padding-top: 60px;
  padding-bottom: 1px;
}
.l-area-visual {
  position: relative;
  box-sizing: border-box;
  height: 300px;
  line-height: 298px;
  background-image: url("../images/pc/common/bg_mvisual_01.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  z-index: 5;
}
.l-area-visual.l-area-visual-s {
  height: 184px;
  line-height: 182px;
}
.l-area-visual .l-area-inner {
  max-width: 990px;
  width: auto;
  box-sizing: border-box;
  height: 100%;
  padding: 1px 0;
}

.l-visual {
  text-align: center;
  line-height: inherit;
}
.l-visual .l-visual-ttl {
  display: inline-block;
  vertical-align: middle;
  font-size: 343%;
  text-align: center;
  line-height: 1;
  font-family: "Roboto Condensed", Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;
  font-weight: normal;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.2) 0 0 10px;
  font-feature-settings: "palt";
}
.l-visual .l-visual-ttl .l-visual-ja {
  font-size: 38%;
  display: block;
  margin: 0.5em 0 0;
}


.l-sec {
  position: relative;
}
.l-sec .l-sec-ttl {
  margin: 0 0 1.2em;
  font-size: 342.85%;
  text-align: center;
  line-height: 1;
  font-family: "Roboto Condensed", Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;
  font-weight: normal;
  letter-spacing: 0.02em;
  font-feature-settings: "palt";
  color: #000;
}
.l-sec .l-sec-ttl .l-sec-ja {
  font-size: .34em;
  display: block;
  margin: 0.5em 0 0;
  color: #333;
  letter-spacing: 0;
}
.l-sec .l-sec-catch {
  text-align: center;
  margin-bottom: 35px;
}
.l-sec-ttl + .l-sec-catch {
  margin-top: -2em;
  margin-bottom: 3em;
}
.l-sec .l-sec-link-wrap {
  margin: 30px 0;
  text-align: right;
}
.l-sec > .l-sec-link-wrap:last-child {
  margin-bottom: 0;
}

.l-sec .l-sec-stxt {
  margin: 0 0 60px;
}
.l-sec.l-sec-press .l-sec-ttl {
  color: #f4a700;
}

.l-sec.l-sec-works .l-sec-link-wrap {
  margin: 0;
}
.l-sec-works-item {
  float: left;
  width: 31.3%;
  margin: 0 3% 40px 0;
}
.l-sec-works .l-sec-works-item > *:last-child {
  margin-bottom: 0;
}
.l-sec-works-item:nth-child(3n) {
  margin-right: 0;
}
.l-sec-works-item:nth-child(3n+1) {
  clear: left;
}
.l-sec-works-item > a {
  display: block;
}
.l-sec-works-item figure {
  margin: 0 0 16px;
  padding: 1px;
  background-color: #e7e7e7;
}
.l-sec-works-item figure img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
.l-sec-works-item .md-tags {
  margin-bottom: 12px;
  overflow: hidden;
  line-height: 1.4;
}
.l-sec-works-item-info {
  display: block;
  margin-bottom: 12px;
}
.l-sec-works-item-ttl {
  margin-bottom: 3px;
  font-size: 114.2%;
  line-height: 1.4;
  font-weight: bold;
}
.l-sec-works-item-client {
  margin-bottom: 3px;
  line-height: 1.4;
}
.l-sec-works-item-lead {
  margin-bottom: 12px;
  font-size: 85.7%;
  line-height: 1.4;
}

.l-sec.l-sec-recruit .l-sec-ttl {
  color: #5490d3;
}
.l-sec.l-sec-lab .l-sec-ttl {
  color: #a553b1;
}
.l-sec.l-sec-bnr {
  padding: 0 0 40px;
  margin: 0 0 40px;
  border-bottom: 1px solid #828282;
}
.l-sec.l-sec-contact-form .l-sec-txt {
  margin-bottom: 30px;
}
.l-sec.l-sec-privacy {
  margin-top: 80px;
  padding-top: 70px;
  border-top: 1px solid #e6e6e6;
}

.l-sec2 + .l-sec2 {
  margin-top: 45px;
}
.l-sec2-ttl {
  margin-bottom: 50px;
  font-size: 200%;
  text-align: center;
  line-height: 1.4;
  color: #000;
}
.l-sec2-catch {
  text-align: center;
  margin-bottom: 35px;
}
.l-sec2-catch p {
  margin-bottom: 16px;
}
.l-sec2-ttl + .l-sec2-catch {
  margin-top: -25px;
  letter-spacing: -.05em;
  color: #333;
}

.l-col2set .l-col2set-col {
  float: left;
  width: 50%;
}
.l-col2set .l-col2set-inner {
  margin: 0 -15px -30px;
}
.l-col2set .l-col2set-col .l-col2set-col-inner {
  margin: 0 15px 30px;
}

.l-col3set .l-col3set-col {
  float: left;
  width: 33.3333%;
}
.l-col3set .l-col3set-inner {
  margin: 0 -15px;
}
.l-col3set .l-col3set-col .l-col3set-col-inner {
  margin: 0 15px;
}

.l-col4set .l-col4set-col {
  width: 25%;
  float: left;
}
.l-col4set .l-col4set-col__col2 {
    width: 23%;
}
.l-col4set .l-col4set-col__col3 {
    width: 27%;
}
.l-col4set .l-col4set-inner {
  margin: 0 -15px;
}
.l-col4set .l-col4set-col .l-col4set-col-inner {
  margin: 0 15px;
}

.l-col8set .l-col8set-inner {
  margin: 0 -27px -27px -6px;
  letter-spacing: -.40em;
  /* 文字間を詰めて隙間を削除する */
}
.l-col8set .l-col8set-col {
  width: 126px;
  display: inline-block;
  letter-spacing: normal;
  /* 文字間を通常に戻す */
  vertical-align: top;
}
.l-col8set .l-col8set-col .l-col8set-col-inner {
  margin: 0 27px 27px 0;
}
.l-col8set .l-col8set-col.l-col8set-2col {
  width: 248px;
}

.l-form {
  margin: 60px 0 0;
}
.l-form .l-form-list {
  padding: 30px 30px 30px;
  background-color: #f4f4f4;
}
.l-form .l-form-list:first-child {
  padding-top: 40px;
}
.l-form .l-form-list + .l-form-list {
  padding-top: 0;
}
.l-form .l-form-list-ttl {
  float: left;
  width: 22%;
}
.l-form .l-form-list-required {
  display: inline-block;
  color: #ea5353;
}
.l-form .l-form-list-data {
  float: right;
  width: 76%;
}
.l-form .l-form-list-notes {
  margin-top: 5px;
}
.l-form .l-form-list-error {
  margin-top: 5px;
  color: #ff0000;
}

.l-subnav {
  display: block;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px #e5e5e5 solid;
}
.l-subnav-items {
  text-align: center;
  line-height: 1;
}
.l-subnav-item {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}
.l-subnav .md-btn2 {
  padding: 0.8em;
  min-width: 170px;
  font-size: 14px;
  background-color: #e12c86;
  border-color: #e12c86;
}
.l-subnav .md-btn2:hover {
  color: #e12c86;
}
.l-subnav__type2 {
  padding: 0;
  border-bottom: none;
}


/* =====================================================
 Smartphone view
===================================================== */
@media screen and (max-width:800px) {
  /**
   * Layout
   */
  .l_wrap {
    overflow-x: hidden;
    width: 100%;
    padding-top: 0;
  }

  #header + *,
  #header + .l-area-visual,
  #header + #contents {
    margin-top: 67px;
  }
  #header + #contents {
    border-top: 1px #f0f0f0 solid;
  }

  #contents,
  .l-area .l-area-inner {
    padding-bottom: 20px;
  }
  #contents {
    padding-top: 20px;
  }
  .l-area .l-area-inner {
    padding-top: 35px;
  }

  .l_header {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .l_header_inner {
    display: block;
    line-height: 1;
  }
  .l_header_logo {
    display: inline-block;
    vertical-align: top;
    width: auto;
    min-width: 0;
  }
  .l_header_logo_symbol {
    width: 30px;
    height: 30px;
    margin-right: 3px;
  }
  .l_header_logo_txt {
    margin-top: 8px;
    width: 102px;
    height: 12px;
  }
  .l_header_navWrap {
    position: static;
    margin-left: 0;
  }
  .l_header_navWrap:after {
    right: 0;
  }
  .l_header_nav {
    display: none;
  }
  .l_header_menu {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    right: 20px;
    width: 40px;
    height: 40px;
  }
  .l_header_menu > span {
    background-color: #000;
    display: block;
    height: 3px;
    left: 14px;
    position: absolute;
    right: 14px;
    transition: all .2s ease;
  }
  .l_header_menu > span:nth-child(1) {
    top: 12px;
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
    -webkit-transform-origin: left top;
            transform-origin: left top;
  }
  .l_header_menu > span:nth-child(2) {
    opacity: 1;
    top: 18px;
  }
  .l_header_menu > span:nth-child(3) {
    top: 24px;
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
  }
  .l_header_menu.is_close > span:nth-child(1) {
    top: 14px;
    left: 18px;
    right: 9px;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  .l_header_menu.is_close > span:nth-child(2) {
      opacity: 0;
  }
  .l_header_menu.is_close > span:nth-child(3) {
    top: 22px;
    left: 18px;
    right: 9px;
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
  }
  .l_menu_nav a {
    width: auto;
  }
  .l_menu_nav a:after {
    opacity: 0; /* bugfix for iOS */
    width: 1px; /* bugfix for iOS */
    bottom: -1vh;
  }
  .l_menu_nav a:hover:after,
  .l_menu_nav .current-menu-item a:after {
    opacity: 1; /* bugfix for iOS */
  }

  .l_content {
    padding-top: 0;
  }
  .l_content_inner .l_mainVisual {
    margin-left: -20px;
    margin-right: -20px;
  }
  .l_content_inner + .l-area .l-area-inner {
    padding-top: 0;
  }

  .l_interview {
    padding: 10px 0 60px;
  }
  .l_interview_inner {}
  .l_interview_inner > :last-child {
    margin-bottom: 0;
  }
  .l_interview_header {
    margin-bottom: 40px;
  }
  .l_interview_header > :last-child {}
  .l_interview_body {
    padding-left: 20px;
    padding-right: 20px;
  }
  .l_interview_body > :last-child {}

  .l_mainVisual {
    height: 100vh;
  }
  .l_mainVisual_ttl {
    width: 100%;
    font-size: 1.6rem;
    text-align: left;
  }
  .l_mainVisual_lead {
    width: 100%;
  }
  .l_mainVisual__type2 {
    height: auto;
  }
  .l_mainVisual__type2 .l_mainVisual_inner {
    padding: 40px 20px;
  }
  .l_mainVisual__type2 .l_mainVisual_ttl {
    text-align: center;
    margin-bottom: 10px;
    font-size: 2.4rem;
  }
  .l_mainVisual__type2 .l_mainVisual_lead {
    font-size: 1.2rem;
  }
  /* CONTACT */
  .l_mainVisual__contact:after {
    background-image: url("../images/sp/contact/main_visual_contact.jpg");
  }
  /* COMPANY */
  .l_mainVisual__company:after {
    background-image: url("../images/sp/company/main_visual_company.jpg");
  }
  /* NEWS */
  .l_mainVisual__news:after {
    background-image: url("../images/sp/news/main_visual_news.jpg");
  }

  .l_mainVisual2 {
    height: 180px;
    padding: 10px 20px;
    margin-bottom: 20px;
  }
  .l_mainVisual2_inner {}
  .l_mainVisual2_inner > :last-child {
    margin-bottom: 0;
  }
  .l_mainVisual2_label {
    margin-bottom: 24px;
    margin-right: -20px;
  }
  .l_mainVisual2_label_inner {
    padding-right: 20px;
    padding-bottom: 5px;
  }
  .l_mainVisual2_label_inner:after {
    height: 2px;
  }
  .l_mainVisual2_label_txt {
    font-size: 0.8rem;
  }
  .l_mainVisual2_label_txt2 {
    font-size: 1.2rem;
  }
  .l_mainVisual2_label_txt + .l_mainVisual2_label_txt2 {
    margin-left: 5px;
  }
  .l_mainVisual2_txt {
    font-size: 1.6rem;
    margin-bottom: 12px;
  }
  .l_mainVisual2_txt2 {
    margin-bottom: 20px;
    font-size: 1.0rem;
  }
  .l_mainVisual2__director .l_mainVisual2_txt {
    max-width: 220px;
  }
  .l_mainVisual2__director .l_mainVisual2_txt2 br {
    display: block;
  }
  .l_mainVisual2__systemengineer .l_mainVisual2_txt {
    max-width: 190px;
  }

  .l_contentHeader {
    padding-top: 48px;
    padding-bottom: 48px;
    margin-bottom: 0;
  }
  .l_contentHeader_ttl {
    font-size: 2.4rem;
  }
  .l_contentHeader_subTtl {
    font-size: 1.6rem;
  }

  .l_footer {
    padding-top: 0;
    font-size: 1.4rem;
  }
  .l_footer_inner {
    padding: 0;
  }
  .l_footer_colset {
    display: block
  }
  .l_footer_colset_col {
    width: auto;
    padding: 20px;
    background-color: #f5f5f5;
  }
  .l_footer_colset_col2 {
    width: auto;
    padding: 28px 20px 0;
  }
  .l_footer_nav {
    margin: 0 0 16px;
  }
  .l_footer_nav > li {
    width: 50%;
    margin-bottom: 12px;
  }
  .l_footer_nav > li:nth-child(4n+1) {
    clear: none;
  }
  .l_footer_nav > li > a .menu-item-description {
    display: none;
  }
  .l_footer_nav .sub-menu {
    display: none;
  }
  .l_footer_subNav {
    display: block;
  }
  .l_footer_subNav2 {
    display: none;
  }
  .l_footer_logo {
    float: none;
    text-align: center;
    margin-bottom: 24px;
  }
  .l_footer_sns {
    margin-top: 0;
    margin-bottom: 24px;
  }
  .l_footer_address {
    text-align: center;
    line-height: 1.8;
    margin-bottom: 28px;
  }
  .l_footer_address dt {
    margin-bottom: 18px;
  }
  .l_footer_address address br {
    display: initial;
  }
  .l_contact_ttl {
    font-size: 2.4rem;
  }
  .l_contact_body {
    margin-bottom: 32px;
    font-size: 92.85%;
    text-align: left;
  }
  .l_contact_btnWrap {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .l_contact_btn {
    min-width: 160px;
    font-size: 114.28%;
    border-width: 1px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .l-area.l-area-snav {
    display: none;
  }
  .l-area.l-area-rd {
    background-image: url("../images/pc/top/bg_rd_01.jpg");
  }
  .l-area.l-area-lab {
    background-color: #fff;
  }
  .l-area.l-area-sns .l-area-inner {
    height: auto;
    margin: 0;
  }
  /*.l-area.l-area-sitemap .l-area-inner {
    padding: 0;
    margin: 0;
  }*/
  .l-area.l-area-footer .l-area-inner {
    padding-top: 1.2em;
    padding-bottom: 1.2em;
  }
  .l-area.l-area-breadcrumb {
    display: none;
  }

  .l-area-visual,
  .l-area-visual.l-area-visual-s {
    height: 143px;
    line-height: 141px;
  }
  .l-area-visual {
    background-image: url("../images/sp/common/bg_mvisual_01.jpg");
  }
  .l-area-visual .l-area-inner {
    padding-top: 1px;
    padding-bottom: 1px;
  }
  .l-visual .l-visual-ttl {
    font-size: 24px;
  }
  .l-visual .l-visual-ttl .l-visual-ja {
    font-size: 9px;
  }

  .l-sec .l-sec-ttl {
    font-size: 250%;
    line-height: 1;
    margin: 0 0 0.8em;
  }
  .l-sec .l-sec-ttl .l-sec-ja {
    font-size: 53.3%;
  }
  .l-sec .l-sec-catch {
    text-align: left;
    margin-bottom: 15px;
  }
  .l-sec-ttl + .l-sec-catch {
    margin-top: 0;
    margin-bottom: 15px;
  }
  .l-sec .l-sec-link-wrap .md-btn.md-btn-sm {
    padding: 0.8em 40px;
    font-size: 142.8%;
  }
  .l-sec .l-sec-link-wrap .md-btn.md-btn-sm:after {
    font-size: 17px;
  }
  .l-sec .l-sec-link {
    display: block;
    font-size: 19px;
    position: relative;
    top: auto;
    right: auto;
    margin: 1.2em 0 0;
    padding: 0.6em 40px;
    text-align: center;
  }
  .l-sec .l-sec-link:after {
    background: url("../images/common/sprites.png") no-repeat;
    -webkit-background-size: 300px 553px;
    background-size: 300px 553px;
    background-repeat: no-repeat;
    display: block;
    width: 14px;
    height: 20px;
    background-position: 0 -255px;
  }
  .l-sec.l-sec-rd .l-sec-body .l-sec-txt {
    margin: 0 0 1.8em;
    font-size: 12px;
  }
  .l-sec.l-sec-rd .l-sec-body .l-sec-txt br {
    display: none;
  }
  .l-sec.l-sec-rd .l-sec-link {
    background-color: #5aaec9;
  }
  .l-sec.l-sec-recruit .l-sec-ttl {
    color: #5490d3;
  }
  .l-sec.l-sec-recruit .l-sec-link {
    background-color: #5490d3;
    position: relative;
    margin: 190px 0 0;
  }
  .l-sec.l-sec-recruit .l-sec-link:before {
    background: url("../images/common/sprites.png") no-repeat;
    -webkit-background-size: 300px 553px;
    background-size: 300px 553px;
    background-repeat: no-repeat;
    display: block;
    width: 300px;
    height: 183px;
    background-position: 0 0;
    left: 50%;
    margin-left: -150px;
    top: -183px;
  }
  .l-sec.l-sec-bnr {
    padding: 0 0 35px;
    margin: 0;
    border-bottom: none;
  }
  .l-area-inner .l-sec-sitemap {
    margin: 0 -20px -20px;
  }

  .l-sec.l-sec-privacy {
    margin: 40px -15px 0;
    padding: 30px 15px 0;
  }

  .l-sec2 + .l-sec2 {
    margin-top: 30px;
  }
  .l-sec2-ttl {
    margin-bottom: 25px;
    font-size: 150%;
  }
  .l-sec2-catch {
    margin-bottom: 15px;
    text-align: left;
  }
  .l-sec2-ttl + .l-sec2-catch {
    margin-top: -10px;
  }

  .l-sec-works-item {
    float: left;
    width: 48.5%;
    margin: 0 3% 19px 0;
  }
  .l-sec-works-item:nth-child(3n) {
    margin-right: 3%;
  }
  .l-sec-works-item:nth-child(3n+1) {
    clear: none;
  }
  .l-sec-works-item:nth-child(2n) {
    margin-right: 0;
  }
  .l-sec-works-item:nth-child(2n+1) {
    clear: left;
  }

  .l-sec-works-item figure {
    margin: 0 0 12px;
    min-height: 95px;
  }
  .l-sec-works-item-ttl {
    font-size: 114.2%;
    line-height: 1.3;
  }
  .l-sec-works-item-client {
    line-height: 1.3;
  }
  .l-sec-works-item-lead {
    font-size: 85.7%;
  }

  .l-col2set .l-col2set-inner {
    margin: 0;
    display: block;
  }
  .l-col2set .l-col2set-inner .l-col2set-col {
    float: none;
    width: auto;
  }
  .l-col2set .l-col2set-inner .l-col2set-col .l-col2set-col-inner {
    margin: 0 0 40px;
  }
  .l-col2set .l-col2set-inner .l-col2set-col:last-child .l-col2set-col-inner {
    margin: 0;
  }
  .l-col2set .l-col2set-inner:after {
    display: none;
  }
  .l-col2set:after {
    display: none;
  }

  .l-col3set .l-col3set-inner {
    margin: 0;
    display: block;
  }
  .l-col3set .l-col3set-col {
    float: none;
    width: auto;
  }
  .l-col3set .l-col3set-inner .l-col3set-col .l-col3set-col-inner {
    margin: 0 0 10px;
  }
  .l-col3set .l-col3set-inner .l-col3set-col:last-child .l-col3set-col-inner {
    margin: 0;
  }
  .l-col3set .l-col3set-inner:after {
    display: none;
  }
  .l-col3set:after {
    display: none;
  }
  .l-col3set.l-col3set-rd {
    display: none;
  }

  .l-col4set .l-col4set-inner {
    margin: 0;
    display: block;
  }
  .l-col4set .l-col4set-inner:after {
    display: none;
  }
  .l-col4set .l-col4set-col {
    width: auto;
    float: none;
  }
  .l-col4set .l-col4set-col .l-col4set-col-inner {
    margin: 0;
  }
  .l-col4set .l-col4set-col:last-child .l-col4set-col-inner {
    margin: 0;
  }
  .l-col4set:after {
    display: none;
  }

  .l-col8set .l-col8set-inner {
    margin: 0 -10px -10px 0;
    text-align: left;
    letter-spacing: normal;
    /* 文字間を詰めて隙間を削除する */
    display: block;
  }
  .l-col8set .l-col8set-col {
    width: 25%;
    display: block;
    float: left;
    letter-spacing: normal;
    /* 文字間を通常に戻す */
  }
  .l-col8set .l-col8set-col .l-col8set-col-inner {
    margin: 0 10px 10px 0;
  }
  .l-col8set .l-col8set-col.l-col8set-2col {
    width: auto;
    width: 50%;
  }

  .l-form {
    margin: 35px 0 0;
  }
  .l-form .l-form-list {
    margin: 0 -20px;
    padding: 35px 20px 35px;
  }
  .l-form .l-form-list:first-child {
    padding-top: 35px;
  }
  .l-form .l-form-list + .l-form-list {
    padding-top: 0;
  }
  .l-form .l-form-list-ttl {
    float: none;
    width: auto;
    margin-bottom: 12px;
    font-size: 14px;
  }
  .l-form .l-form-list-data {
    float: none;
    width: auto;
    padding-left: 20px;
  }

  .l-subnav {
    padding: 5px 0;
    border-bottom: 1px #e5e5e5 solid;
  }
  .l-subnav-items {
    display: table;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
  }
  .l-subnav-item {
    display: table-cell;
    padding: 5px;
  }
  .l-subnav .md-btn2 {
    padding: 1em;
    min-width: 120px;
    font-size: 12px;
  }
  .l-subnav__type2 {
    padding: 0;
    border-bottom: none;
  }
}