@charset "UTF-8";

/* Clear Fix
===============================================*/
.m_gallery_nav:after, .m_work_summary:after, .m_medias2:after, .m_media2_row:after,
.md-device:after, .md-step:after, .md-formitem-list:after {
  content: '';
  display: block;
  clear: both;
}

/* Image Text
===============================================*/
.md-logo, .md-press .md-press-link, .md-article .md-article-link, .md-device .md-device-item {
  text-indent: -9999px;
  overflow: hidden;
  display: inline-block;
}

/* CSS Sprites
===============================================*/
.md-box .md-box-link:after, .md-job .md-job-item .md-job-txt:before, .md-contact .md-contact-link:after, .md-sns .md-sns-inner:before, .md-step li:after, .md-checkbox:before, .md-radio:before, .md-select .md-select-txt:before {
  content: '';
  display: inline-block;
  clear: both;
  position: absolute;
}



/* =====================================================
 Utility
===================================================== */
.center { text-align:center !important;}
.left { text-align:left !important;}
.right { text-align:right !important;}

/* margin */
.m0 { margin:0 !important; }
.m10 { margin:10px !important; }
.m20 { margin:20px !important; }
.m30 { margin:30px !important; }

.mt5 { margin-top:5px !important; }
.mt10 { margin-top:10px !important; }
.mt15 { margin-top:15px !important; }
.mt20 { margin-top:20px !important; }
.mt30 { margin-top:30px !important; }
.mt40 { margin-top:40px !important; }

.mr5 { margin-right:5px !important; }
.mr10 { margin-right:10px !important; }
.mr15 { margin-right:15px !important; }
.mr20 { margin-right:20px !important; }
.mr30 { margin-right:30px !important; }
.mr40 { margin-right:40px !important; }

.mb5 { margin-bottom:5px !important; }
.mb10 { margin-bottom:10px !important; }
.mb15 { margin-bottom:15px !important; }
.mb20 { margin-bottom:20px !important; }
.mb30 { margin-bottom:30px !important; }
.mb40 { margin-bottom:40px !important; }

.ml5 { margin-left:5px !important; }
.ml10 { margin-left:10px !important; }
.ml15 { margin-left:15px !important; }
.ml20 { margin-left:20px !important; }
.ml30 { margin-left:30px !important; }
.ml40 { margin-left:40px !important; }



/* =====================================================
 Modules
===================================================== */
/*
  Flaticon icon font: Flaticon
  Creation date: 11/12/2016 08:39
*/
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}


/**
 * State
 */
.is-slideup {
  display: block !important;
}
.is-hide {
  display: none;
}



/**
 * Module
 */

/* hover style */
.md-hover,
.md-logo.sonicmoov-header,
.md-logo.sonicmoov-footer,
.l-sec-link,
.md-press,
.md-article,
.md-box-link,
.md-contact-link,
.md-btn,
#top .l-sec-rd .link,
#top .list-item-sns {
  opacity: 1;
}
.md-hover:hover,
.md-logo.sonicmoov-header:hover,
.md-logo.sonicmoov-footer:hover,
.l-sec-link:hover,
.md-press:hover,
.md-article:hover,
.md-box-link:hover,
.md-contact-link:hover,
.md-btn:hover,
#top .l-sec-rd .link:hover,
#top .list-item-sns:hover {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: .6;
}


.md-subsec {
  margin-top: -211px;
  padding-top: 211px;
  margin-bottom: 30px;
}

.md-logo {
  vertical-align: text-bottom;
}
.md-logo.sonicmoov-header {
  background-image: url('../../images/common/sprites.png');
  background-repeat: no-repeat;
  display: block;
  height: 40px;
  width: 176px;
  background-position: 0 -1058px;
}
.md-logo.sonicmoov-footer {
  background-image: url('../../images/common/sprites.png');
  background-repeat: no-repeat;
  display: inline-block;
  height: 40px;
  width: 176px;
  background-position: 0 -1018px;
}
.md-logo.twitter-footer {
  background-image: url('../../images/common/sprites.png');
  background-repeat: no-repeat;
  display: inline-block;
  height: 40px;
  width: 40px;
  background-position: 0 -1098px;
}
.md-logo.facebook-footer {
  background-image: url('../../images/common/sprites.png');
  background-repeat: no-repeat;
  display: inline-block;
  height: 40px;
  width: 40px;
  background-position: 0 -646px;
}
.md-logo.google-footer {
  background-image: url('../../images/common/sprites.png');
  background-repeat: no-repeat;
  display: inline-block;
  height: 40px;
  width: 40px;
  background-position: 0 -708px;
}
.md-logo.privacy-footer {
  background-image: url('../../images/common/sprites.png');
  background-repeat: no-repeat;
  display: inline-block;
  height: 60px;
  width: 60px;
  background-position: 0 -896px;
}
.md-logo.herlock-main {
  background-image: url('../../images/common/sprites.png');
  background-repeat: no-repeat;
  display: block;
  height: 86px;
  width: 324px;
  background-position: 0 -770px;
  display: inline-block;
}

.md-sitemap {
  margin: 0;
}
.md-sitemap .md-sitemap-item {
  margin: 0 0 2em;
}
.md-sitemap-link.is-current {
  font-weight: bold;
}
.md-sitemap > .md-sitemap-item:last-child {
  margin-bottom: 0;
}
.md-sitemap .md-sitemap-slist {
  margin: 0.5em 0 0;
}
.md-sitemap .md-sitemap-slist .md-sitemap-slink {
  color: #fff;
  position: relative;
  padding: 0 0 0 3em;
  display: block;
}
.md-sitemap .md-sitemap-slist .md-sitemap-slink:before {
  content: '\002015';
  position: absolute;
  left: 1em;
  top: 0;
}
.md-sitemap .md-sitemap-slist .md-sitemap-sitem {
  margin: 0 0 0.2em;
}
/*.md-sitemap .md-sitemap-ja {
  font-size: 86%;
}
.md-sitemap .md-sitemap-ja:before {
  content: '\003000';
}*/

.md-press {
  background-color: #fff;
  position: relative;
  padding: 0 0 1.2em;
}
.md-press .md-press-tag {
  min-width: 10.3em;
  text-align: center;
  font-size: 86%;
  color: #fff;
  margin: 0 0 1.3em;
  background-color: #b0b0b0;
  line-height: 1;
  padding: 0.65em;
  display: inline-block;
}
.md-press .md-press-date {
  margin: 0 20px 0.7em;
  color: #999;
  line-height: 1;
}
.md-press .md-press-ttl {
  margin: 0 20px;
}
.md-press .md-press-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.md-box {
  padding: 0 0 7em;
  position: relative;
}
.md-box .md-box-body {
  text-align: center;
}
.md-box .md-box-body .md-box-ttl {
  font-size: 257%;
  margin: 0 0 0.1em;
  font-family: "Roboto Condensed", Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;
  font-weight: normal;
}
.md-box .md-box-body .md-box-txt {
  font-size: 129%;
}
.md-box .md-box-img {
  max-width: 316px;
  margin: 0 auto;
}
.md-box .md-box-img img {
  height: auto;
  width: 100%;
}
.md-box .md-box-link {
  font-size: 200%;
  color: #fff;
  display: inline-block;
  text-align: center;
  padding: 0.3em 60px 0.3em 40px;
  position: absolute;
  text-decoration: none;
  font-family: "Roboto Condensed", Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;
  background-color: #99c95a;
  width: 7.5em;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.md-box .md-box-link:after {
  background-image: url('../../images/common/sprites.png');
  background-repeat: no-repeat;
  display: block;
  height: 24px;
  width: 16px;
  background-position: 0 -256px;
  top: 0;
  bottom: 0;
  right: 20px;
  margin: auto 0;
}

.md-job {
  display: table;
  table-layout: fixed;
  max-width: 100%;
  margin: 0 auto;
}
.md-job > li {
  box-sizing: border-box;
  display: table-cell;
  vertical-align: bottom;
  padding: 0 4px;
  line-height: 1;
  text-align: center;
}

.md-job .md-job-item {
  display: block;
  width: 100%;
  position: relative;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.md-job .md-job-item .md-job-img {
  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
       -o-transition: all .5s ease;
          transition: all .5s ease;
  opacity: 1;
  background-color: #fbeddd;
  vertical-align: bottom;
}

.md-job .md-job-item .md-job-txt-wrap {
  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
       -o-transition: all .5s ease;
          transition: all .5s ease;
  opacity: 0;
  position: absolute;
  z-index: 2;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
.md-job .md-job-item .md-job-txt {
  position: relative;
  display: inline-block;
  padding: 1em;
  font-family: "Roboto Condensed", Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;
  color: #fff;
  background: url(../images/pc/common/bg_filter_02.png);
  white-space: nowrap;
}
.md-job .md-job-item .md-job-txt:before {
  background: url('../../images/common/sprites.png') no-repeat 0 -30px;
  display: block;
  height: 10px;
  width: 14px;
  top: -10px;
  left: 50%;
  margin-left: -7px;
}

.md-job .md-job-item:hover .md-job-img,
.md-job .md-job-item:active .md-job-img,
.md-job .md-job-item:focus .md-job-img {
  opacity: 0;
}
.md-job .md-job-item:hover .md-job-txt-wrap,
.md-job .md-job-item:active .md-job-txt-wrap,
.md-job .md-job-item:focus .md-job-txt-wrap {
  opacity: 1;
  bottom: 30px;
}

.md-job-item.shimane {
  background-image: url('../images/recruit/common/img_shimane_hover.png');
}
.md-job .md-job-item.web-director {
  background-image: url('../images/recruit/common/img_web-director_hover.png');
}
.md-job .md-job-item.web-designer {
  background-image: url('../images/recruit/common/img_web-designer_hover.png?v=1');
}
.md-job .md-job-item.web-designer2 {
  background-image: url('../images/recruit/common/img_web-designer2_hover.png?v=1');
}
.md-job .md-job-item.contents-designer {
  background-image: url('../images/recruit/common/img_contents-designer_hover.png');
}
.md-job .md-job-item.markup-engineer {
  background-image: url('../images/recruit/common/img_markup-engineer_hover.png');
}
.md-job .md-job-item.system-engineer {
  background-image: url('../images/recruit/common/img_system-engineer_hover.png');
}
.md-job .md-job-item.front-engineer {
  background-image: url('../images/recruit/common/img_front-engineer_hover.png');
}

.md-article {
  position: relative;
  margin-bottom: 40px;
}
.md-article .md-article-body {
  text-align: left;
}
.md-article .md-article-body .md-article-date {
  margin: 0 0 0.5em;
}
.md-article .md-article-body .md-article-ttl {
  font-weight: bold;
}
.md-article .md-article-body .md-article-data .md-article-data-ttl {
  display: inline;
}
.md-article .md-article-body .md-article-data .md-article-data-ttl:after {
  content: '：';
}
.md-article .md-article-body .md-article-data .md-article-data-data {
  display: inline;
  margin: 0 0 0 -0.4em;
}
.md-article .md-article-img {
  margin: 0 0 0.5em;
}
.md-article .md-article-img img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
.md-article .md-article-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.md-contact {
  text-align: center;
}
.md-contact .md-contact-ttl {
  font-size: 257.1%;
  margin: 0 0 26px;
  font-weight: normal;
  color: #ee4c8d;
  line-height: 1;
}
.md-contact .md-contact-txt {
  margin: 0 0 2em;
  font-size: 129%;
}
.md-contact > .md-btn-wrap:last-child {
  margin-bottom: 0;
}
.md-contact .md-contact-link {
  font-size: 142.8%;
  color: #fff;
  display: inline-block;
  padding: 0.3em 60px 0.3em 40px;
  position: relative;
  text-decoration: none;
  font-family: "Roboto Condensed", Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;
  background-color: #ee4c8d;
  width: 8.1em;
}
.md-contact .md-contact-link:after {
  background-image: url('../../images/common/sprites.png');
  background-repeat: no-repeat;
  display: block;
  height: 24px;
  width: 16px;
  background-position: 0 -256px;
  top: 0;
  bottom: 0;
  right: 20px;
  margin: auto 0;
}

.md-device {
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
}
.md-device .md-device-item {
  margin: 0 8px 0 0;
  float: left;
}
.md-device .md-device-item.pc {
  background-image: url('../../images/common/sprites.png');
  background-repeat: no-repeat;
  display: block;
  height: 30px;
  width: 30px;
  background-position: 0 -412px;
}
.md-device .md-device-item.iphone {
  background-image: url('../../images/common/sprites.png');
  background-repeat: no-repeat;
  display: block;
  height: 30px;
  width: 30px;
  background-position: 0 -180px;
}
.md-device .md-device-item.android {
  background-image: url('../../images/common/sprites.png');
  background-repeat: no-repeat;
  display: block;
  height: 30px;
  width: 30px;
  background-position: 0 0;
}
.md-device .md-device-item.mobile {
  background-image: url('../../images/common/sprites.png');
  background-repeat: no-repeat;
  display: block;
  height: 30px;
  width: 30px;
  background-position: 0 -210px;
}
.md-device .md-device-item.tablet {
  background-image: url('../../images/common/sprites.png');
  background-repeat: no-repeat;
  display: block;
  height: 30px;
  width: 30px;
  background-position: 0 -616px;
}

.md-sns {
  text-align: center;
  line-height: 1;
  position: relative;
}
.md-sns .md-sns-inner {
  position: relative;
  display: inline-block;
  padding: 1.4em 0 1.4em 40px;
}
.md-sns .md-sns-inner:before {
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 0;
}
.md-sns.twitter {
  background-color: #00b0ed;
}
.md-sns.twitter .md-sns-inner:before {
  background-image: url('../../images/common/sprites.png');
  background-repeat: no-repeat;
  display: block;
  height: 22px;
  width: 26px;
  background-position: 0 -1138px;
}
.md-sns.facebook {
  background-color: #3b579d;
}
.md-sns.facebook .md-sns-inner {
  width: 7.2em;
}
.md-sns.facebook .md-sns-inner:before {
  background-image: url('../../images/common/sprites.png');
  background-repeat: no-repeat;
  display: block;
  height: 22px;
  width: 20px;
  background-position: 0 -686px;
}
.md-sns.google {
  background-color: #cb3d27;
}
.md-sns.google .md-sns-inner:before {
  background-image: url('../../images/common/sprites.png');
  background-repeat: no-repeat;
  display: block;
  height: 22px;
  width: 20px;
  background-position: 0 -748px;
}
.md-sns.rss {
  background-color: #f58a00;
}
.md-sns.rss .md-sns-inner:before {
  background-image: url('../../images/common/sprites.png');
  background-repeat: no-repeat;
  display: block;
  height: 22px;
  width: 18px;
  background-position: 0 -956px;
}
.md-sns.rss .rss-link {
  display: block;
  font-size: 115%;
  color: #fff;
}

.md-snsBtns {
    line-height: 0;
    height: 20px;
    margin: 20px auto;
    padding: 0 20px;
    max-width: 990px;
    text-align: right;
}
.md-snsBtns > *:last-child {
    margin-right: 0;
}
.l-area-breadcrumb + .md-snsBtns {
    margin-top: 0;
}
.md-snsBtns-fbGood,
.md-snsBtns-twitter,
.md-snsBtns-gPlus {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}

.md-breadcrumb .md-breadcrumb-item {
  display: inline;
}
.md-breadcrumb .md-breadcrumb-item:before {
  content: ' > ';
}
.md-breadcrumb .md-breadcrumb-item.md-breadcrumb-top:before {
  display: none;
}
.md-breadcrumb .md-breadcrumb-item.md-breadcrumb-archive:before {
  display: none;
}

.md-bnr a:hover {
  text-decoration: none;
}
.md-bnr .md-bnr-img {
  margin: 0;
  line-height: 0;
}
.md-bnr .md-bnr-img img {
  width: 100%;
  height: auto;
  vertical-align: text-bottom;
}
.md-bnr .md-bnr-img.md-bnr-pushman {
  width: 210px;
}
.md-bnr .md-bnr-body {
  margin: 0.5em 0 0;
}
.md-bnr .md-bnr-body .md-bnr-txt {
  color: #fff;
  font-size: 87%;
}

.md-btn-wrap {
  margin: 2em 0;
  text-align: center;
}
.md-btn-wrap > li {
  display: inline-block;
  margin: 0 15px;
}

.md-btn,
.md-btn2 {
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 1.2;
  max-width: 100%;
  text-decoration: none;
}
.md-btn:hover,
.md-btn2:hover {
  text-decoration: none;
}
.md-btn.is-current,
.md-btn2.is-current {
  cursor: default;
}

.md-btn {
  color: #fff;
  font-family: "Roboto Condensed", Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;
  font-weight: lighter;
  background-color: #ee4c8d; /* #5aaec9 */
  border: none;
  min-width: 310px;
  font-size: 142.8%;
  padding: 0.8em 40px;
}
.md-btn:after {
  content: "\f105";
  font-family: Flaticon;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 18px;
  margin: auto;
  display: inline-block;
  height: 1em;
  line-height: 1;
  font-size: 17px;
}

.md-btn.md-btn-sm {
  min-width: 155px;
  font-size: 128.5%;
  padding: 0.5em 28px;
}
.md-btn.md-btn-sm:after {
  right: 10px;
  font-size: 16px;
}

/* 制作実績(top) */
.md-btn.md-btn-top {
  background-color: #f22c7c;
}
/* 制作実績 */
.md-btn.md-btn-works {
  background-color: #4b7bb7;
}
/* お知らせ */
.md-btn.md-btn-press {
  background-color: #ffba25;
}
/* ブログ（lab） */
.md-btn.md-btn-lab {
  background-color: #b16bba;
}
/* 採用 */
.md-btn.md-btn-recruit {
  background-color: #5490d3;
}
.md-btn.md-btn-recruit.is-new {
  background-color: #74c12a;
}

/* 送信 */
.md-btn.md-btn-submit {
  background-color: #ee4c8d;
}
/* 戻る */
.md-btn.md-btn-back {
  background-color: #c0c0c0;
}
.md-btn.md-btn-back:after {
  content: "\f100";
  right: auto;
  left: 18px;
}

.md-btn2 {
  -webkit-transition: background 0.3s ease, color 0.3s ease;
  transition: background 0.3s ease, color 0.3s ease;
  color: #fff;
  font-family: "Roboto Condensed", Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;
  font-weight: lighter;
  background-color: #f22c7c;
  border: 1px #f22c7c solid;
  min-width: 310px;
  font-size: 142.8%;
  padding: 0.8em 40px;
}
.md-btn2.is-current,
.md-btn2:hover {
  background-color: #fff;
  color: #f22c7c;
  text-decoration: none;
}

.md-step {
  margin-bottom: 70px;
  font-family: "Roboto Condensed", Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;
}
.md-step li {
  box-sizing: border-box;
  position: relative;
  float: left;
  width: 33.3%;
  height: 80px;
  padding-left: 32px;
  line-height: 80px;
  background-color: #c0c0c0;
  color: #fff;
  font-size: 29px;
  text-align: center;
  letter-spacing: 0.2em;
}
.is-en .md-step li {
  letter-spacing: 0;
}
.md-step li:first-child {
  padding-left: 0;
}
.md-step li.is-current {
  background-color: #ee4c8d;
}
.md-step li:after {
  background-image: url('../images/pc/contact/sprites.png');
  background-repeat: no-repeat;
  display: block;
  height: 80px;
  width: 32px;
  background-position: 0 -88px;
  z-index: 2;
  top: 0;
  right: -32px;
}
.md-step li:last-child:after {
  display: none !important;
}
.md-step li.is-current:after {
  background-image: url('../images/pc/contact/sprites.png');
  background-position: 0 -8px;
}

.md-formitem-list {
  margin-top: -15px;
}
.md-formitem-list li {
  float: left;
  margin: 15px 20px 0 0;
}
.md-formitem-list .md-formitem-list-clear {
  clear: both;
}

.md-input {
  width: 100%;
  margin-top: -0.45em;
  padding: 8px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}
.md-input.md-input-w1 {
  width: 345px;
}
.md-input:focus {
  border-color: #ee4c8d;
}

.md-textarea {
  width: 100%;
  margin-top: -0.45em;
  padding: 8px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}
.md-textarea:focus {
  border-color: #ee4c8d;
}

.md-checkbox {
  position: relative;
  display: inline-block;
}
.md-checkbox:before {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -8px;
  background-image: url('../images/pc/contact/sprites.png');
  background-repeat: no-repeat;
  display: block;
  height: 16px;
  width: 16px;
  background-position: 0 -218px;
}
.md-checkbox.is-checked:before {
  background-image: url('../images/pc/contact/sprites.png');
  background-repeat: no-repeat;
  display: block;
  height: 16px;
  width: 16px;
  background-position: 0 -234px;
}
.md-checkbox.md-checkbox-lg:before {
  margin-top: -12px;
  background-image: url('../images/pc/contact/sprites.png');
  background-repeat: no-repeat;
  display: block;
  height: 25px;
  width: 25px;
  background-position: 0 -168px;
}
.md-checkbox.md-checkbox-lg.is-checked:before {
  background-image: url('../images/pc/contact/sprites.png');
  background-repeat: no-repeat;
  display: block;
  height: 25px;
  width: 25px;
  background-position: 0 -193px;
}
.md-checkbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
}
.md-checkbox label {
  padding-left: 25px;
}
.md-checkbox.md-checkbox-lg label {
  padding-left: 35px;
}

.md-radio {
  position: relative;
  display: inline-block;
}
.md-radio:before {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -10px;
  background-image: url('../images/pc/contact/sprites.png');
  background-repeat: no-repeat;
  display: block;
  height: 20px;
  width: 20px;
  background-position: 0 -250px;
}
.md-radio.is-checked:before {
  background-image: url('../images/pc/contact/sprites.png');
  background-repeat: no-repeat;
  display: block;
  height: 20px;
  width: 20px;
  background-position: 0 -270px;
}
.md-radio input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
}
.md-radio label {
  padding-left: 27px;
}

.md-select {
  position: relative;
}
.md-select .md-select-txt {
  width: 100%;
  margin-top: -0.45em;
  padding: 8px 53px 8px 8px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  box-sizing: border-box;
}
.md-select .md-select-txt:before {
  top: 50%;
  right: 20px;
  margin-top: -4px;
  background-image: url('../images/pc/contact/sprites.png');
  background-repeat: no-repeat;
  display: block;
  height: 8px;
  width: 13px;
  background-position: 0 0;
}
.md-select select {
  position: absolute;
  -webkit-appearance: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
}

.md-txt-agree {
  margin: 65px 0 0;
  text-align: center;
}

.md-privacy-list {
  margin-top: 25px;
}
.md-privacy-list dt {
  font-weight: bold;
}
.md-privacy-list dd {
  margin-bottom: 25px;
}

.md-tags > li {
  display: inline;
  font-size: 85.7%;
  line-height: 1.3;
}
/* 6個目以降は非表示 */
.md-tags.is-list > li:nth-child(n + 6) {
  display: none;
}
.md-tags > li:before {
  content: "|";
  margin: 0 0.3em;
}
.md-tags > li:first-child:before {
  display: none;
}

.md-ib {
  display: inline-block;
}
.md-ib.is-sp-ib {
  display: inline;
}

.md-inline-list > li {
  display: inline-block;
}

.md-table {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
.md-table + .md-table {
  margin-top: -1px;
}
.md-table > * {
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
  padding: 20px;
  border: 1px solid #ccc;
}
.md-table > dt {
  background-color: #ebebeb;
  text-align: center;
  font-weight: bold;
}

.md-icon {
  overflow: hidden;
  position: relative;
  font-family: Flaticon;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  font-size: 30px;
}
.md-icon:before {
  content: "";
  display: block;
  width: 90%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -45% 0 0 -45%;
  background-color: #fff;
}
.md-icon:after {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}

.md-icon-facebook:before,
.md-icon-twitter:before {
  border-radius: 10px;
}
.md-icon-facebook {
  color: #315096;
  background-color: #315096;
}
.md-icon-facebook:after {
  content: "\f102";
}
.md-icon-twitter {
  color: #55acee;
  background-color: #55acee;
  font-size: 40px;
}
.md-icon-twitter:after {
  content: "\f10b";
}
.md-icon-line {
  color: #00C200;
  background-color: #00C200;
  width: 40px;
  height: 40px;
}
.md-icon-line:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url('../images/common/icon_line.svg') #00C200 no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}

.m-fixed-banner {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: fixed;
  z-index: 10000;
  top: 130px;
  right: 10px;
}
@media screen and (max-width: 1250px) {
  .m-fixed-banner {
    top: auto;
    bottom: 20px;
  }
}


.noscript {
  color: #333;
  text-align: center;
  display: block;
}

.m_label_img {
    height: 32px;
    width: auto;
}

.m_sec {
  margin-bottom: 56px;
}
.m_sec2 {
  background-color: #fff;
  padding: 60px 9%;
  margin-bottom: 56px;
  color: #4a4a4a;
}
.m_sec2 > *:last-child {
  margin-bottom: 0;
}

.m_subTtl {
  position: relative;
  display: block;
  text-align: left;
  font-family: myriad-pro, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.4rem;
  min-width: 20px;
  line-height: 1.1;
  margin-bottom: 32px;
}
.m_subTtl:after {
  content: "";
  display: block;
  width: 20px;
  height: 5px;
  position: absolute;
  bottom: -11px;
  left: 0;
  background: #744fdf; /* Old browsers */
  background: -moz-linear-gradient(45deg, #744fdf 0%, #f22c7c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #744fdf 0%,#f22c7c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #744fdf 0%,#f22c7c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.m_ttl {
  font-feature-settings : "palt";
  font-weight: bold;
  display: block;
  text-align: left;
  font-size: 3.2rem;
  line-height: 1.4;
  margin-bottom: 48px;
}
.m_ttl + .m_lead {
  margin-top: -32px;
  margin-bottom: 48px;
}
.m_lead p {
  margin-bottom: 1em;
}

.m_btnWrap {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.m_btn {
  -webkit-transition: opacity .2s ease-out;
     -moz-transition: opacity .2s ease-out;
      -ms-transition: opacity .2s ease-out;
       -o-transition: opacity .2s ease-out;
          transition: opacity .2s ease-out;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  vertical-align: top;
  border: 2px #000 solid;
  text-align: center;
  min-width: 300px;
  padding: 12px 32px;
  line-height: 1.35;
  color: #000;
  font-size: 114.28%;
}
.m_btn:hover {
  opacity: .5;
  text-decoration: none;
}

.m_postStatus {
  background-color: #ff0000;
  color: #fff;
  line-height: 1.1;
  padding: 0.5em;
  font-size: 1.1rem;
}
.m_postStatus.is_publish {
  display: none;
}
.m_workDisplayStatus {
  background-color: #ff0000;
  color: #fff;
  line-height: 1.1;
  padding: 0.5em;
  font-size: 1.1rem;
}
.m_workDisplayStatus.is_publish {
  display: none;
}

.m_medias > li {
  box-sizing: border-box;
  margin-bottom: 20px;
}
.m_medias2 {
  margin-right: -12px;
}
.m_medias2 > li {
  float: left;
  box-sizing: border-box;
  width: 25%;
  min-width: 250px;
  padding-right: 12px;
  margin-bottom: 12px;
}
.m_medias3 {
  display: flex;
  justify-content: center;
  margin-right: -12px;
}
.m_medias3 > li {
  width: 33.33%;
  box-sizing: border-box;
  padding-right: 12px;
}

.m_media {
  position: relative;
  text-align: left;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  color: #4a4a4a;
}
a.m_media {
  -webkit-transition: box-shadow .2s ease-out;
     -moz-transition: box-shadow .2s ease-out;
      -ms-transition: box-shadow .2s ease-out;
       -o-transition: box-shadow .2s ease-out;
          transition: box-shadow .2s ease-out;
  box-shadow: none;
}
a.m_media:hover {
  z-index: 2;
  text-decoration: none;
  box-shadow: 0 0 20px rgba(0,0,0,0.14);
}
a.m_media:hover .m_media_thumb:after {
  opacity: .4;
}
a.m_media:hover .m_media_seeMore:after {
  transform: scaleX(1.15);
}

.m_media_thumb,
.m_media_detail {
  flex-grow: 1;
  box-sizing: border-box;
  width: 50%;
}
.m_media_thumb {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #000;
  line-height: 1;
}
.m_media_thumb:after {
  content: "";
  transition: opacity .2s ease-out;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #744fdf; /* Old browsers */
  background: -moz-linear-gradient(45deg, #744fdf 0%, #f22c7c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #744fdf 0%,#f22c7c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #744fdf 0%,#f22c7c 100%); /* W3C, IE10+, FF16+, Chroe26+, Opera12+, Safari7+ */
}
.m_media_thumb > img {
  display: block;
  width: 100%;
  height: auto;
}
.m_media_detail {
  position: relative;
  padding: 40px 6.6%;
}
.m_media_detail > *:last-child {
  margin-bottom: 0;
}
.m_media_ttl {
  position: relative;
  font-family: myriad-pro, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 3.0rem;
  line-height: 1.4;
  margin-bottom: 48px;
}
.m_media_ttl:after {
  content: "";
  background: #744fdf; /* Old browsers */
  background: -moz-linear-gradient(45deg, #744fdf 0%, #f22c7c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #744fdf 0%,#f22c7c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #744fdf 0%,#f22c7c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  display: block;
  width: 20px;
  height: 5px;
  position: absolute;
  bottom: -7px;
  left: 0;
}
.m_media_seeMore {
  line-height: 1;
  font-family: myriad-pro, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 107.14%;
  text-align: right;
  margin-top: 32px;
}
.m_media_seeMore:after {
  -webkit-transition: transform .2s ease-out;
     -moz-transition: transform .2s ease-out;
      -ms-transition: transform .2s ease-out;
       -o-transition: transform .2s ease-out;
          transition: transform .2s ease-out;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  transform: scaleX(1);
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 7px;
  width: 80px;
  margin: 0 0 2px 18px;
  background: url("../images/common/icon_arrow_right.svg") no-repeat;
  background-size: 100% auto;
}

.m_media__type2 {
  display: block;
}
.m_media__type2 .m_media_thumb,
.m_media__type2 .m_media_detail {
  display: block;
  width: auto;
}
.m_media__type2 .m_media_detail {
  padding-top: 32px;
  padding-bottom: 32px;
}
.m_media__type2 .m_media_ttl {
  font-size: 2.8rem;
  margin-bottom: 32px;
}

.m_media2 {
  display: block;
  position: relative;
  text-align: left;
  background-color: #fff;
  color: #4a4a4a;
}
a.m_media2 {
  -webkit-transition: box-shadow .2s ease-out;
     -moz-transition: box-shadow .2s ease-out;
      -ms-transition: box-shadow .2s ease-out;
       -o-transition: box-shadow .2s ease-out;
          transition: box-shadow .2s ease-out;
  box-shadow: none;
}
a.m_media2:hover {
  z-index: 2;
  text-decoration: none;
  box-shadow: 0 0 20px rgba(0,0,0,0.14);
}
a.m_media2:hover .m_media2_thumb:after {
  opacity: .4;
}
a.m_media2:hover .m_media2_seeMore:after {
  transform: scaleX(1.15);
}

.m_media2_thumb {
  position: relative;
  background-color: #000;
  line-height: 1;
}
.m_media2_thumb:after {
  content: "";
  transition: opacity .2s ease-out;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #744fdf; /* Old browsers */
  background: -moz-linear-gradient(45deg, #744fdf 0%, #f22c7c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #744fdf 0%,#f22c7c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #744fdf 0%,#f22c7c 100%); /* W3C, IE10+, FF16+, Chroe26+, Opera12+, Safari7+ */
}

.m_media2_thumb .m_postStatus {
  position: absolute;
  top: 0;
  left: 0;
}
.m_media2_thumb .m_workDisplayStatus {
  position: absolute;
  top: 0;
  right: 0;
}
.m_media2_thumb > img {
  display: block;
  width: 100%;
  height: auto;
}
.m_media2_detail {
  padding: 16px 24px;
  line-height: 1.75;
}
.m_media2_row {
  margin-top: 24px;
}
.m_media2_row .m_media2_label {
  float: left;
  margin-right: 8px;
  margin-top: 3px;
}
.m_media2_label {
  color: #9b9b9b;
  font-size: 1.0rem;
  font-family: Arial, sans-serif;
  font-style: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.m_media2_seeMore {
  line-height: 1;
  font-family: myriad-pro, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 92.85%;
  text-align: right;
}
.m_media2_seeMore:after {
  -webkit-transition: transform .2s ease-out;
     -moz-transition: transform .2s ease-out;
      -ms-transition: transform .2s ease-out;
       -o-transition: transform .2s ease-out;
          transition: transform .2s ease-out;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  transform: scaleX(1);
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 5px;
  width: 60px;
  margin: 0 0 2px 10px;
  background: url("../images/common/icon_arrow_right.svg") no-repeat;
  background-size: 100% auto;
}
.m_media2_seeMore > span {
  display: none;
}

.m_media3 {
  display: block;
  position: relative;
  text-align: left;
  color: #4a4a4a;
  background-color: #fff;
}
a.m_media3 {
  -webkit-transition: box-shadow .2s ease-out;
     -moz-transition: box-shadow .2s ease-out;
      -ms-transition: box-shadow .2s ease-out;
       -o-transition: box-shadow .2s ease-out;
          transition: box-shadow .2s ease-out;
  box-shadow: none;
}
a.m_media3:hover {
  z-index: 2;
  text-decoration: none;
  box-shadow: 0 0 20px rgba(0,0,0,0.14);
}
a.m_media3:hover .m_media3_thumb:after {
  opacity: .4;
}
a.m_media3[target]:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background: url("../images/common/icon_media_external_link.svg") no-repeat;
  background-size: 100% auto;
  width: 48px;
  height: 48px;
}

.m_media3_thumb {
  position: relative;
  background-color: #000;
  line-height: 1;
}
.m_media3_thumb:after {
  content: "";
  transition: opacity .2s ease-out;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #744fdf; /* Old browsers */
  background: -moz-linear-gradient(45deg, #744fdf 0%, #f22c7c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #744fdf 0%,#f22c7c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #744fdf 0%,#f22c7c 100%); /* W3C, IE10+, FF16+, Chroe26+, Opera12+, Safari7+ */
}
.m_media3_thumb > img {
  display: block;
  width: 100%;
  height: auto;
}
.m_media3_detail {
  padding: 24px;
  line-height: 1.4;
}
.m_media3_ttl {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 12px;
}
.m_media3_catch {
  margin-bottom: 8px;
}
.m_media3_description {
  -webkit-font-smoothing: antialiased;
  font-size: 1.2rem;
}

.m_gallery {
  line-height: 1;
  max-height: 100%;
  -webkit-transition: opacity .2s ease-out, box-shadow .2s ease-out;
     -moz-transition: opacity .2s ease-out, box-shadow .2s ease-out;
      -ms-transition: opacity .2s ease-out, box-shadow .2s ease-out;
       -o-transition: opacity .2s ease-out, box-shadow .2s ease-out;
          transition: opacity .2s ease-out, box-shadow .2s ease-out;
}
.m_gallery img {
  display: block;
  height: auto;
}
.m_gallery .slick-slide * {
  vertical-align: top;
}
.m_gallery_content {
  border: 1px #ccc solid;
}
.m_gallery_content img {
  width: 100%;
}
.m_gallery_nav {
  margin: 8px -8px -8px 0;
}
.m_gallery_nav > li {
  box-sizing: border-box;
  float: left;
  margin-bottom: 8px;
  padding-right: 8px;
  position: relative;
  width: 25%;
}
.m_gallery_nav a {
  -webkit-transition: opacity .2s ease-out, box-shadow .2s ease-out;
     -moz-transition: opacity .2s ease-out, box-shadow .2s ease-out;
      -ms-transition: opacity .2s ease-out, box-shadow .2s ease-out;
       -o-transition: opacity .2s ease-out, box-shadow .2s ease-out;
          transition: opacity .2s ease-out, box-shadow .2s ease-out;
  opacity: 1;
  display: block;
  position: relative;
  border: 1px #ccc solid;
}
.m_gallery_nav a:hover {
  opacity: .7;
}
.m_gallery_nav > li.is_current a {
  box-shadow: 0px 0px 4px 0px #f22c7c;
}
.m_gallery_nav > li.is_current a:hover {
  cursor: default;
  opacity: 1 !important;
}


.m_work {
}
.m_work_ttl {
  font-size: 3.2rem;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 56px;
}
.m_work_summary {
  margin-bottom: 64px;
}
.m_work_thumb {
  box-sizing: border-box;
  width: 52%;
  float: left;
  padding-right: 24px;
  text-align: center;
}
.m_work_attrs {
  width: 48%;
  overflow: hidden;
}
.m_work_attrs_item {
  font-size: 114.2%;
  margin-bottom: 15px;
}
.m_work_attrs_item > dt {
  display: inline-block;
  font-weight: bold;
}
.m_work_attrs_item > dt:after {
  content: ":";
  margin: 0 0.3em;
}
.m_work_attrs_item > dd {
  display: inline-block;
}
.m_work_devices {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}
.m_work_devices > li {
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
}
.m_work_tags {
  display: inline-block;
  vertical-align: middle;
}
.m_work_tags > li {
  display: inline-block;
  vertical-align: top;
}
.m_work_tags > li:after {
  content: "|";
  margin: 0 0.3em;
}
.m_work_tags > li:last-child:after {
  display: none;
}
.m_work_detail {
  clear: both;
}
.m_work_detail a {
    text-decoration: underline;
}
.m_work_detail h2,
.m_work_detail h3 {
  position: relative;
  margin-top: 32px;
  margin-bottom: 16px;
  padding-bottom: 4px;
  padding-left: 20px;
  font-size: 1.8rem;
  border-bottom: 1px dotted #CCC;
}
.m_work_detail h2:before,
.m_work_detail h3:before {
  content: "";
  display: block;
  width: 4px;
  position: absolute;
  top: 2px;
  left: 0;
  bottom: 4px;
  background: #f22c7c;
  background: -moz-linear-gradient(left, #f22c7c 0%, #744fdf 100%);
  background: -webkit-linear-gradient(left, #f22c7c 0%,#744fdf 100%);
  background: linear-gradient(to right, #f22c7c 0%,#744fdf 100%);
}
.m_work_detail p {
  margin-bottom: 20px;
}
.m_work_detail h2 + br,
.m_work_detail h3 + br,
.m_work_detail p + br {
  display: none;
}

.m_profile {
  padding-left: 16px;
  margin-right: 16px;
  display: flex;
  align-items: flex-end;
}
.l_mainVisual2 + .m_profile {
  margin-top: -94px;
}
.m_profile_thumb {
  width: 170px;
  margin-right: 32px;
}
.m_profile_thumb_img {
  border-radius: 50%;
  border: 5px solid #fff;
}
.m_profile_thumb_img > img {
  width: 100%;
  height: auto;
}
.m_profile_thumb_txt {
  margin-top: 4px;
  font-size: 2.0rem;
  font-weight: bold;
  text-align: center;
}
.m_profile_detail {
  flex: 1;
  margin: -18px -24px 0;
}
.m_profile_detail_item {
  display: inline-block;
  margin: 10px 24px 0;
}
.m_profile_detail_item:nth-child(n+4) {
  display: block;
}
.m_profile_detail_item > dt {
  display: inline-block;
  border-radius: 1em;
  font-size: 1.2rem;
  background-color: #000;
  color: #fff;
  min-width: 8em;
  margin-bottom: 12px;
  padding-left: 6px;
  padding-right: 6px;
  text-align: center;
}
.m_profile_detail_item > dd {
  font-size: 1.4rem;
}

.m_interview {
  margin-bottom: 72px;
  display: flex;
}
.m_interview_img {
  width: 480px;
  margin-right: 30px;
}
.m_interview_img > img {
  width: 100%;
  height: auto;
  vertical-align: text-bottom;
}
.m_interview_detail {
  flex: 1;
}
.m_interview_ttl {
  font-size: 2.4rem;
  line-height: 1.7;
  font-weight: bold;
  padding-bottom: 8px;
  margin-bottom: 26px;
  position: relative;
}
.m_interview_ttl:before {
  content: 'Q：';
}
.m_interview_ttl:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 0.8em;
  height: 5px;
  background-color: #f55696;
}
.m_interview_txt {
  font-size: 1.6rem;
}
.m_interview_txt > p {
  margin-bottom: 2em;
  line-height: 2;
}
.m_interview_txt > :last-child {
  margin-bottom: 0;
}
.m_interview__type2 {
  flex-direction: row-reverse;
}
.m_interview__type2 .m_interview_img {
  margin-right: 0;
  margin-left: 30px;
}

.m_interview2 {
  background-size: cover;
  background-position: center top;
  height: 240px;
  padding: 40px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.m_interview2_inner {}
.m_interview2_txt {
  text-align: right;
  font-size: 2.8rem;
  font-weight: bold;
}

/* =====================================================
 Smartphone view
===================================================== */
@media screen and (max-width:800px) {

  /* Clear Fix
  ===============================================*/
  .md-article:after, .md-device:after, .md-step:after, .md-formitem-list:after {
    content: '';
    display: block;
    clear: both;
  }

  /* Image Text
  ===============================================*/
  .md-logo, .md-press .md-press-link, .md-device .md-device-item {
    text-indent: -9999px;
    overflow: hidden;
    display: inline-block;
  }

  /* CSS Sprites
  ===============================================*/
  .md-sitemap .md-sitemap-link:before, .md-box .md-box-link:after, .md-contact .md-contact-link:after, .md-sns .md-sns-inner:before, .md-checkbox:before, .md-radio:before {
    content: '';
    display: inline-block;
    clear: both;
    position: absolute;
  }


  /**
   * State
   */
  .is-slideup {
    display: none !important;
  }
  .is-fadeout {
    opacity: 1 !important;
    -ms-filter: 'alpha(opacity=100)' !important;
  }
  .is-fadein {
    opacity: 1 !important;
    -ms-filter: 'alpha(opacity=100)' !important;
  }


  /**
   * Module
   */
  .md-subsec {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 20px;
  }

  .md-logo {
    vertical-align: text-bottom;
  }
  .md-logo.sonicmoov-header {
    background: url('../images/sp/common/sprites.png') no-repeat;
    -webkit-background-size: 300px 553px;
    background-size: 300px 553px;
    background-repeat: no-repeat;
    display: block;
    width: 132px;
    height: 30px;
    background-position: 0 -523px;
  }
  .md-logo.herlock-main {
    background: url('../images/sp/common/sprites.png') no-repeat;
    -webkit-background-size: 300px 553px;
    background-size: 300px 553px;
    background-repeat: no-repeat;
    display: block;
    width: 242px;
    height: 65px;
    background-position: 0 -458px;
    display: inline-block;
  }

  .md-sitemap {
    margin: -1px 0 0;
    border-top: 1px solid #828282;
  }
  .md-sitemap .md-sitemap-item {
    margin: 0;
    float: none;
    font-size: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #828282;
    background-color: #666;
    font-family: "Roboto Condensed", Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;
  }
  .md-sitemap .md-sitemap-item.md-sitemap-smv {
    display: none;
  }
  .md-sitemap .md-sitemap-link {
    padding: 0.6em 20px;
    display: block;
    position: relative;
  }
  .md-sitemap .md-sitemap-link:before {
    background: url('../images/sp/common/sprites.png') no-repeat;
    -webkit-background-size: 300px 553px;
    background-size: 300px 553px;
    background-repeat: no-repeat;
    display: block;
    width: 8px;
    height: 12px;
    background-position: 0 -243px;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto 0;
  }
  .md-sitemap .md-sitemap-link.is-current {
    padding: 0.6em 20px;
    background-color: #828282;
    color: #fff;
    display: block;
    font-weight: normal;
  }
  .md-sitemap .md-sitemap-slist {
    display: none;
  }

  .md-press {
    padding: 1.2em 0;
  }
  .md-press .md-press-tag {
    min-width: 0;
    text-align: left;
    font-size: 12px;
    color: #333;
    background-color: transparent;
    display: inline;
    margin: 0 0 0 15px;
    padding: 0;
    font-weight: bold;
  }
  .md-press .md-press-date {
    margin: 0 0 0.7em 15px;
    display: inline;
  }
  .md-press .md-press-ttl {
    margin: 0.8em 15px 0;
  }
  .md-press .md-press-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .md-press:after {
    content: '';
    height: 0px;
    width: 0px;
    border-top: 0px solid transparent;
    border-right: 0px solid transparent;
    border-left: 16px solid transparent;
    border-bottom: #ccc 16px solid;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .md-box {
    padding: 0;
  }
  .md-box .md-box-body {
    margin: 1.2em 0 0;
    text-align: center;
  }
  .md-box .md-box-body .md-box-ttl {
    font-size: 24px;
  }
  .md-box .md-box-body .md-box-txt {
    font-size: 12px;
  }
  .md-box .md-box-body .md-box-txt br {
    display: none;
  }
  .md-box .md-box-img {
    max-width: 100%;
  }
  .md-box .md-box-link {
    display: block;
    font-size: 19px;
    position: relative;
    background-color: #99c95a;
    width: auto;
    bottom: auto;
    left: auto;
    right: auto;
    margin: 1.2em 0 0;
    padding: 0.6em 40px;
    text-align: center;
  }
  .md-box .md-box-link:after {
    background: url('../images/sp/common/sprites.png') no-repeat;
    -webkit-background-size: 300px 553px;
    background-size: 300px 553px;
    background-repeat: no-repeat;
    display: block;
    width: 14px;
    height: 20px;
    background-position: 0 -255px;
  }

  .md-job > li {
    padding: 0 2px;
  }
  .md-article {
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    margin: 0 -20px;
    position: relative;
  }
  .md-article:before {
    content: '';
    height: 0px;
    width: 0px;
    border-top: 0px solid transparent;
    border-right: 0px solid transparent;
    border-left: 16px solid transparent;
    border-bottom: #ccc 16px solid;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .md-article .md-article-body {
    overflow: hidden;
    text-align: left;
  }
  .md-article .md-article-body .md-article-date {
    margin: 0 0 0.1em;
  }
  .md-article .md-article-img {
    float: left;
    width: 140px;
    margin: 0 10px 0 0;
  }

  .md-article.md-article-type2 {
    border-bottom: none;
  }
  .md-article.md-article-type2:before {
    display: none;
  }


  .md-contact {
    text-align: center;
  }
  .md-contact .md-contact-ttl {
    font-size: 166.6%;
    margin: 0 0 0.72em;
    font-weight: normal;
  }
  .md-contact .md-contact-txt {
    margin: 0 0 2.2em;
    font-size: 100%;
    text-align: left;
  }
  .md-contact .md-contact-link {
    display: block;
    font-size: 19px;
    position: relative;
    top: auto;
    right: auto;
    margin: 1.2em 0 0;
    padding: 0.6em 40px;
    text-align: center;
    width: auto;
  }
  .md-contact .md-contact-link:after {
    background: url('../images/sp/common/sprites.png') no-repeat;
    -webkit-background-size: 300px 553px;
    background-size: 300px 553px;
    background-repeat: no-repeat;
    display: block;
    width: 14px;
    height: 20px;
    background-position: 0 -255px;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto 0;
  }

  .md-device {
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
  }
  .md-device .md-device-item {
    margin: 0 8px 0 0;
    float: left;
  }

  .md-sns {
    text-align: center;
    line-height: 1;
    position: relative;
    overflow: hidden;
  }
  .md-sns .md-sns-inner {
    position: relative;
    display: inline-block;
    padding: 1.4em 0 1.4em 40px;
  }
  .md-sns .md-sns-inner:before {
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: 0;
  }
  .md-sns.twitter {
    background-color: #00b0ed;
  }
  .md-sns.facebook {
    background-color: #3b579d;
  }
  .md-sns.facebook .md-sns-inner {
    width: 9em;
  }
  .md-sns.google {
    background-color: #cb3d27;
  }
  .md-sns.rss {
    background-color: #f58a00;
  }
  .md-sns.rss .rss-link {
    display: block;
    font-size: 115%;
    color: #fff;
  }

  .md-snsBtns {
      text-align: left;
  }
  .l-area-breadcrumb + .md-snsBtns {
      margin-top: 20px;
  }

  .md-bnr .md-bnr-img {
    width: auto;
  }
  .md-bnr .md-bnr-img.md-bnr-pushman {
    width: auto;
  }
  .md-bnr .md-bnr-body {
    display: none;
  }

  .md-btn-wrap > li {
    display: block;
    margin: 1em 0;
  }

  .md-btn {
    display: block;
    width: 100%;
    min-width: 280px;
  }

  .md-step {
    margin-bottom: 40px;
  }
  .md-step li {
    height: 40px;
    line-height: 40px;
    font-size: 15px;
  }
  .md-step li:after {
    background-image: url('../images/sp/contact/sprites.png');
    -webkit-background-size: 67px 281px;
    background-size: 67px 281px;
    background-repeat: no-repeat;
    display: block;
    width: 16px;
    height: 40px;
    background-position: 0 -50px;
    right: -16px;
  }
  .md-step li.is-current:after {
    background-image: url('../images/sp/contact/sprites.png');
    -webkit-background-size: 67px 281px;
    background-size: 67px 281px;
    display: block;
    width: 16px;
    height: 40px;
    background-position: 0 -10px;
  }

  .md-formitem-list {
    margin-top: 0;
  }
  .md-formitem-list li {
    float: none;
    margin: 0;
  }
  .md-formitem-list li + li {
    margin-top: 12px;
  }

  .md-input {
    margin-top: 0;
    padding: 16px 8px;
  }
  .md-input.md-input-w1 {
    width: 190px;
  }

  .md-textarea {
    width: 100%;
    margin-top: -0.45em;
    padding: 8px;
    border: 1px solid #cccccc;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .md-textarea:focus {
    border-color: #ee4c8d;
  }

  .md-checkbox:before {
    background: url('../images/sp/contact/sprites.png') no-repeat;
    -webkit-background-size: 67px 281px;
    background-size: 67px 281px;
    background-repeat: no-repeat;
    display: block;
    width: 13px;
    height: 13px;
    background-position: 0 -140px;
    margin-top: -6px;
  }
  .md-checkbox.is-checked:before {
    background: url('../images/sp/contact/sprites.png') no-repeat;
    -webkit-background-size: 67px 281px;
    background-size: 67px 281px;
    background-repeat: no-repeat;
    display: block;
    width: 13px;
    height: 13px;
    background-position: 0 -153px;
  }
  .md-checkbox.md-checkbox-lg:before {
    margin-top: -12px;
    background: url('../images/sp/contact/sprites.png') no-repeat;
    -webkit-background-size: 67px 281px;
    background-size: 67px 281px;
    background-repeat: no-repeat;
    display: block;
    width: 25px;
    height: 25px;
    background-position: 0 -90px;
  }
  .md-checkbox.md-checkbox-lg.is-checked:before {
    background: url('../images/sp/contact/sprites.png') no-repeat;
    -webkit-background-size: 67px 281px;
    background-size: 67px 281px;
    background-repeat: no-repeat;
    display: block;
    width: 25px;
    height: 25px;
    background-position: 0 -115px;
  }
  .md-checkbox label {
    padding-left: 24px;
  }
  .md-checkbox.md-checkbox-lg label {
    padding-left: 34px;
  }

  .md-radio {
    position: relative;
    display: inline-block;
  }
  .md-radio:before {
    background: url('../images/sp/contact/sprites.png') no-repeat;
    -webkit-background-size: 67px 281px;
    background-size: 67px 281px;
    background-repeat: no-repeat;
    display: block;
    width: 14px;
    height: 14px;
    background-position: 0 -166px;
    margin-top: -7px;
  }
  .md-radio.is-checked:before {
    background: url('../images/sp/contact/sprites.png') no-repeat;
    -webkit-background-size: 67px 281px;
    background-size: 67px 281px;
    background-repeat: no-repeat;
    display: block;
    width: 14px;
    height: 14px;
    background-position: 0 -180px;
  }
  .md-radio label {
    padding-left: 24px;
  }

  .md-select .md-select-txt {
    margin-top: 0;
    padding: 16px 32px 16px 8px;
  }
  .md-select .md-select-txt:before {
    right: 14px;
    margin-top: -4px;
    background: url('../images/sp/contact/sprites.png') no-repeat;
    -webkit-background-size: 67px 281px;
    background-size: 67px 281px;
    background-repeat: no-repeat;
    display: block;
    width: 15px;
    height: 10px;
    background-position: 0 0;
  }

  .md-txt-agree {
    margin: 35px 0 30px;
  }

  .md-privacy-list dt {
    font-weight: normal;
  }

  .md-ib.is-sp-ib {
    display: inline-block;
  }
  .md-ib.is-pc-ib {
    display: inline;
  }

  .md-table {
    display: block;
  }
  .md-table > * {
    display: block;
    padding: 10px;
  }
  .md-table > dt {
    text-align: left;
  }
  .md-table > dd {
    margin-top: -1px;
    min-height: 3.33em;
  }

  .md-icon {
    font-size: 22px;
  }
  .md-icon-twitter {
    font-size: 30px;
  }
  .md-icon-line {
    width: 30px;
    height: 30px;
  }
  .m-fixed-banner {
    bottom: 20px;
  }
  .m-fixed-banner img {
    width: 60px;
  }

  .m_label_img {
      height: 20px;
      width: auto;
  }

  .m_sec2 {
    margin-left: -20px;
    margin-right: -20px;
    padding: 32px 20px;
  }

  .m_ttl {
    font-size: 1.8rem;
  }

  .m_btnWrap {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .m_btn {
    min-width: 160px;
    font-size: 100%;
    border-width: 1px;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .m_medias2 {
    margin-left: -20px;
    margin-right: -20px;
  }
  .m_medias2 > li {
    float: none;
    width: auto;
    min-width: 0;
    margin: 0;
    padding: 0;
    border-bottom: 1px #e6e6e6 solid;
  }

  .m_medias3 {
    display: block;
    margin-right: 0;
  }
  .m_medias3 > li {
    width: auto;
    padding: 0;
    margin-bottom: 20px;
  }


  .m_media {
    display: block;
  }
  .m_media_thumb,
  .m_media_detail {
    width: auto;
  }
  .m_media_thumb {
    display: block;
    text-align: center;
  }
  .m_media_detail {
    padding: 16px 8px;
    font-size: 1.2rem;
  }
  .m_media_ttl {
    font-size: 1.6rem;
    margin-bottom: 4px;
    padding-right: 88px;
  }
  .m_media_ttl:after {
    display: none;
  }
  .m_media_seeMore {
    margin-top: 0;
    position: absolute;
    top: 19px;
    right: 8px;
  }
  .m_media_seeMore > span {
    display: none;
  }
  .m_media_seeMore:after {
    margin-left: 0;
  }
  a.m_media:hover .m_media_seeMore:after {
    transform: scaleX(1.05);
  }
  .m_media__type2 .m_media_detail {
    padding: 16px 8px;
  }
  .m_media__type2 .m_media_ttl {
    font-size: 1.6rem;
    margin-bottom: 4px;
  }


  .m_media2 {
    display: flex;
  }
  .m_media2_thumb {
    width: 32.3%;
    display: flex;
    align-items: center;
  }
  .m_media2_detail {
    align-self: center;
    box-sizing: border-box;
    width: 67.7%;
    padding: 18px 40px;
    line-height: 1.6;
  }
  .m_media2_row {
    margin-top: 2px;
  }
  .m_media2_seeMore {
    display: none;
  }

  .m_media3_detail {
    padding: 16px 8px;
    font-size: 1.2rem;
  }
  .m_media3_ttl {
    font-size: 1.6rem;
    margin-bottom: 8px;
  }
  .m_media3_catch {
    margin-bottom: 4px;
  }

  .m_work {
  }
  .m_work_ttl {
    font-size: 2.4rem;
    margin-bottom: 32px;
  }
  .m_work_summary {
    margin-bottom: 32px;
  }
  .m_work_thumb {
    width: auto;
    float: none;
    padding-right: 0;
    margin-bottom: 32px;
  }
  .m_work_attrs {
    width: auto;
  }
  .m_work_attrs_item {
    font-size: 1.4rem;
    margin-bottom: 8px;
  }
  .m_work_detail a {
    text-decoration: underline;
  }
  .m_work_detail h2,
  .m_work_detail h3 {
    margin-top: 28px;
    margin-bottom: 16px;
    padding-bottom: 0;
    padding-left: 10px;
    border-left: 5px solid #f22c7c;
    font-size: 1.6rem;
    background: none;
    border-bottom: none;
  }
  .m_work_detail p {
    margin-bottom: 12px;
  }
  .m_work_detail h2 + br,
  .m_work_detail h3 + br,
  .m_work_detail p + br {
    display: none;
  }

  .m_profile {
    margin-bottom: 20px;
    align-items: flex-start;
  }
  .l_mainVisual2 + .m_profile {
    margin-top: -45px;
  }
  .m_profile_thumb {
    width: 90px;
    margin-right: 20px;
  }
  .m_profile_thumb_img {
    border: 2px solid #fff;
  }
  .m_profile_thumb_img > img {}
  .m_profile_thumb_txt {
    margin-top: 8px;
    font-size: 1.2rem;
  }
  .m_profile_detail {
    margin: -8px -5px 0;
    padding-top: 45px;

  }
  .m_profile_detail_item {
    margin: 8px 5px 0;
  }
  .m_profile_detail_item > dt {
    min-width: 4em;
    margin-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.0rem;
  }
  .m_profile_detail_item > dd {
    font-size: 1.0rem;
  }

  .m_interview {
    display: block;
    margin-bottom: 68px;
  }
  .m_interview_img {
    width: auto;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .m_interview_img > img {
    width: 100%;
    height: auto;
    vertical-align: text-bottom;
  }
  .m_interview_detail {
    flex: 0 1 auto;
  }
  .m_interview_ttl {
    font-size: 1.6rem;
    padding-bottom: 6px;
    margin-bottom: 16px;
  }
  .m_interview_ttl:before {}
  .m_interview_ttl:after {
    width: 1.2em;
    height: 2px;
  }
  .m_interview_txt {
    font-size: 1.2rem;
  }
  .m_interview_txt > p {}
  .m_interview_txt > :last-child {
    margin-bottom: 0;
  }
  .m_interview__type2 {
    flex-wrap: nowrap;
  }
  .m_interview__type2 .m_interview_img {
    margin-left: 0;
    margin-bottom: 40px;
  }

  .m_interview2 {
    height: 60px;
    padding: 20px;
    margin-bottom: 20px;
  }
  .l_interview_body .m_interview2 {
    margin-left: -20px;
    margin-right: -20px;
  }
  .m_interview2_inner {}
  .m_interview2_txt {
    font-size: 1.2rem;
  }
}