@charset "utf-8";

.recruit_l_container {
    min-width: 990px;
    font-size: 14px;
    word-break: normal;
}


/*
recruit_l_header
*/
.recruit_l_header_main {
    height: 400px;
    color: #ffffff;
    background: #adabaa no-repeat 50% 0;
}
.recruit_l_header_main_inner {
    position: relative;
    width: 990px;
    height: 400px;
    margin: 0 auto;
}
.recruit_l_header_main.is_top {
    background-image: url(../../images/common/main_bg.jpg);
}
.recruit_l_header_main_ttl {
    margin-bottom: 40px;
    padding-top: 60px;
    font-size: 24px;
    line-height: 1.4;
}
.recruit_l_header_main_ttl span {
    font-size: 48px;
    font-weight: normal;
    font-family: "Roboto Condensed", Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;
}
.recruit_l_header_main_lead {
    padding-right: 530px;
}
.recruit_l_header_main_sign {
    position: absolute;
    top: 300px;
    left: 160px;
}
.recruit_l_header_nav {
    background: #f6f6f6;
}
.recruit_l_header_nav_inner {
    width: 990px;
    margin: 0 auto;
}
.recruit_l_header_nav_inner ul {
    display: table;
    width: 100%;
    height: 100px;
}
.recruit_l_header_nav_inner ul > li {
    display: table-cell;
    width: 25%;
    vertical-align: middle;
}
.recruit_l_header_nav_inner ul > li a {
    display: table;
    width: 100%;
    height: 100%;
    text-decoration: none !important;
    -webkit-transition-duration:  0.3s;
       -moz-transition-duration:  0.3s;
        -ms-transition-duration:  0.3s;
         -o-transition-duration:  0.3s;
            transition-duration:  0.3s;
}
.recruit_l_header_nav_inner ul > li a span {
    display: table-cell;
    font-size: 18px;
    vertical-align: middle;
    text-align: center;
    border-bottom: 3px solid #f6f6f6;
}
.recruit_l_header_nav_inner ul > li.is_current a {
    color: #f22c7c;
}
.recruit_l_header_nav_inner ul > li.is_current a span {
    border-bottom-color: #f22c7c;
}
.recruit_l_header_nav_inner ul > li.is_new a {
    color: #ffffff !important;
    background: #74c12a !important;
}
.recruit_l_header_nav_inner ul > li.is_new a span {
    border-bottom-color: #74c12a !important;
}
.recruit_l_header_nav_inner ul > li a:hover {
    opacity: 0.6;
}
.recruit_l_header_nav_inner ul > li.is_current a:hover {
    opacity: 1;
}
.recruit_l_header_nav_inner ul > li.is_new a:hover {
    opacity: 0.8;
}




/*
recruit_l_content
*/
.recruit_l_content p,
.recruit_l_content dl,
.recruit_l_content ul,
.recruit_l_content ol {
    margin-bottom: 30px;
}
.recruit_l_content a {
    color: #5aaec9;
}


/*
recruit_l_content_header
*/
.recruit_l_content_header {
    width: 990px;
    margin: 0 auto;
    padding: 60px 0 30px;
    overflow: hidden;
}
.recruit_l_content_header_ttl {
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: normal;
    color: #f22c7c;
    text-align: center;
}
.recruit_l_content_header_lead {
    margin-bottom: 55px !important;
    text-align: center;
}
.recruit_l_content_header_nav {
    margin: 0 -1px;
}
.recruit_l_content_header_nav ul {
    display: table;
    width: 100%;
    height: 3.2em;
    margin-bottom: 0;
}
.recruit_l_content_header_nav ul > li {
    display: table-cell;
    width: 14.3%;
    vertical-align: middle;
}
.recruit_l_content_header_nav ul > li a {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 1.2;
    color: #333333;
    text-decoration: none !important;
    -webkit-transition-duration:  0.3s;
       -moz-transition-duration:  0.3s;
        -ms-transition-duration:  0.3s;
         -o-transition-duration:  0.3s;
            transition-duration:  0.3s;
}
.recruit_l_content_header_nav ul > li a:hover {
    color: #5490d3;
}
.recruit_l_content_header_nav ul > li a:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    width: 1px;
    height: 24px;
    margin-top: -12px;
    background: #dcdcdc;
}
.recruit_l_content_header_nav ul > li a span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}


/*
recruit_l_footer
*/
.recruit_l_footer {
    background: url(../../images/common/footer_bg.jpg) repeat-x 50% 0;
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
}
.recruit_l_footer_inner {
    position: relative;
    width: 990px;
    margin: 0 auto;
    padding-top: 50px;
}
.recruit_l_footer_lead {
    margin-bottom: 30px;
    font-size: 24px;
    text-align: center;
}
.recruit_l_footer_btnwrap {
    overflow: hidden;
    margin: 0 -30px 76px 0;
}
.recruit_l_footer_btnwrap > li {
    float: left;
    margin-right: 30px;
}
.recruit_l_footer_sns {
    position: relative;
    top: 4px;
}


/*
recruit_m_sec
*/
.recruit_m_sec1 {
    background: #ffffff;
}
.recruit_m_sec1_inner {
    width: 990px;
    margin: 0 auto;
    padding: 50px 0 80px;
}
.recruit_m_sec1_inner > :last-child {
    margin-bottom: 0 !important;
}
.recruit_m_sec2 {
    background: #f6f6f6;
}
.recruit_m_sec2_inner {
    width: 990px;
    margin: 0 auto;
    padding: 50px 0 80px;
}
.recruit_m_sec2_inner > :last-child {
    margin-bottom: 0 !important;
}


/*
recruit_m_ttl
*/
.recruit_m_ttl1 {
    margin-bottom: 30px;
    line-height: 1.1;
    font-weight: normal;
    font-family: "Roboto Condensed", Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;
    text-align: center;
}
.recruit_m_ttl1_en {
    font-size: 64px;
}
.recruit_m_ttl1_ja {
    display: inline-block;
    margin-top: 8px;
    font-size: 14px;
    font-weight: bold;
}
.recruit_m_ttl2 {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}
.recruit_m_ttl3 {
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: normal;
    text-align: center;
    color: #f22c7c;
}
.recruit_m_ttl4 {
    font-size: 56px;
    font-weight: normal;
    font-family: "Roboto Condensed", Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;
    text-align: center;
}
.recruit_m_ttl5 {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}
.recruit_m_ttl6 {
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}
.recruit_m_ttl6 span {
    font-size: 48px;
    font-family: "Roboto Condensed", Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;
}
.recruit_m_ttl7 {
    margin-bottom: 40px;
    font-size: 28px;
    font-weight: normal;
    text-align: center;
}


/*
recruit_m_imglist
*/
.recruit_m_imglist1 {
    font-size: 0;
    margin: 0 -15px;
    text-align: center;
}
.recruit_m_imglist1 > li {
    display: inline;
    margin: 0 15px;
}
.recruit_m_imglist2 {
    overflow: hidden;
    margin: -45px -30px 0 0;
}
.recruit_m_imglist2 > a{
    float: left;
    display: block;
    width: 310px;
    margin: 45px 30px 0 0;
    color: #333333;
    text-decoration: none !important;
}
.recruit_m_imglist2 figure {
    margin: 0;
    padding: 0;
}
.recruit_m_imglist2 figcaption {
    margin-top: 10px;
    text-align: center;
}
.recruit_m_imglist3 {
    margin: 0 -30px 40px 0;
    overflow: hidden;
}
.recruit_m_imglist3 li {
    float: left;
    width: 310px;
    margin-right: 30px;
}
.recruit_m_imglist3 figure {
    margin: 0;
    padding: 0;
}
.recruit_m_imglist3 figcaption {
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
}


/*
recruit_m_caption
*/
.recruit_m_caption_ttl {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}
.recruit_m_caption_txt {
    display: block;
    font-size: 12px;
}

/*
recruit_m_linkblock
*/
.recruit_m_linkblock1 {
    margin-bottom: 45px;
    background: #ffffff;
}
.recruit_m_sec1 .recruit_m_linkblock1 {
    background: #f6f6f6;
}
.recruit_m_linkblock1 img {
    vertical-align: bottom;
}
.recruit_m_linkblock1 a {
    display: block;
    color: #333333;
    text-decoration: none !important;
}
.recruit_m_linkblock1_cols {
    display: table;
    width: 100%;
}
.recruit_m_linkblock1_cols .recruit_m_linkblock1_col1 {
    position: relative;
    display: table-cell;
    vertical-align: top;
    width: 495px;
}
.recruit_m_linkblock1_cols .recruit_m_linkblock1_col1 img {
    width: 100%;
}
.recruit_m_linkblock1_cols .recruit_m_linkblock1_col2 {
    position: relative;
    display: table-cell;
    padding: 12px 20px 16px;
    vertical-align: top;
}
.recruit_m_linkblock1_label {
    text-align: right;
    margin-right: -20px;
    margin-bottom: 40px;
}
.recruit_m_linkblock1_label_inner {
    position: relative;
    display: inline-block;
    padding-bottom: 14px;
    padding-right: 40px;
}
.recruit_m_linkblock1_label_inner:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background-image: linear-gradient(-45deg, #744FDF 0%, #f12d7d 100%);
}
.recruit_m_linkblock1_label_txt {
    font-size: 1.2rem;
    font-weight: normal;
}
.recruit_m_linkblock1_label_txt2 {
    font-family: myriad-pro, sans-serif;
    font-size: 1.8rem;
    font-weight: 900;
}
.recruit_m_linkblock1_label_txt + .recruit_m_linkblock1_label_txt2 {
    margin-left: 10px;
}
.recruit_m_linkblock1_ttl {
    margin: 0 0 15px;
    font-size: 24px;
}
.recruit_m_linkblock1_txt {
    margin-bottom: 32px !important;
}
.recruit_m_linkblock1_more {
    position: absolute;
    bottom: 15px;
    right: 20px;
    padding-right: 90px;
    text-decoration: none;
    transition: color .2s ease-out;
    font-family: 'Montserrat',sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
}
.recruit_m_linkblock1 a:hover .recruit_m_linkblock1_more {
    color: #f22c7c;
}
.recruit_m_linkblock1_more:after {
    content: "";
    width: 82px;
    height: 10px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: url(../../../images/top/icon_arrow_right_big.svg) no-repeat right center;
    transition: right .2s ease-out;
}
.recruit_m_linkblock1 a:hover .recruit_m_linkblock1_more:after {
    right: -5px;
}

/*
recruit_m_btn
*/
.recruit_m_btnwrap1 {
    margin: 0 -12px;
    text-align: center;
}
.recruit_m_btnwrap1 > li {
    display: inline;
    margin: 0 12px;
}
.recruit_m_btn1 {
    position: relative;
    display: inline-block;
    width: 310px;
    padding: 10px 24px;
    font-size: 24px;
    color: #ffffff !important;
    text-decoration: none !important;
    background: #5490d3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-duration:  0.3s;
       -moz-transition-duration:  0.3s;
        -ms-transition-duration:  0.3s;
         -o-transition-duration:  0.3s;
            transition-duration:  0.3s;
}
.recruit_m_btn1:hover {
    opacity: 0.7;
}
.recruit_m_btn1:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    display: block;
    width: 14px;
    height: 20px;
    margin-top: -10px;
    background: url(../../images/common/ic_arrow01.png) no-repeat 0 0;
}
.recruit_m_btn1.is_new {
    background-color: #74c12a;
}


/*
recruit_m_tag
*/
.recruit_m_tag1 {
    padding: 6px 10px;
    display: inline-block;
    font-family: "Roboto Condensed", Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;
    color: #ffffff;
    line-height: 1;
}



/*
recruit_m_interview_header
*/
.recruit_m_interview_header {
    height: 360px;
    padding: 40px 0 0;
    background: repeat-x 50% 0;
}
.recruit_m_interview_header_inner {
    width: 990px;
    margin: 0 auto;
}
.recruit_m_interview_header_icon {
    margin-bottom: 20px;
    font-size: 24px;
    font-family: "Roboto Condensed", Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;
    color: #ffffff;
}
.recruit_m_interview_header_icon span {
    display: inline-block;
    padding: 5px 20px;
    background: #f22c7c;
}
.recruit_m_interview_header_ttl {
    margin: 0 400px 25px 0;
    font-size: 40px;
    line-height: 1.4;
    font-weight: normal;
}
.recruit_m_interview_header_lead {
    margin-right: 400px;
    font-size: 18px;
}
.recruit_m_interview_header_lead p {
    margin: 0;
}



/*
recruit_m_interviewlist1
*/
.recruit_m_interviewlist1 {
    position: relative;
    display: none;
}
.recruit_m_interviewlist1 li {
    width: 225px;
}
.recruit_m_interviewlist1 li a {
    display: block;
    width: 225px;
    color: #333333 !important;
    text-decoration: none !important;
}
.recruit_m_interviewlist1 figure {
    position: relative;
    margin: 0;
    padding: 0 0 36px;
    background: #f6f6f6;
}
.recruit_m_interviewlist1_img {
    position: relative;
}
.recruit_m_interviewlist1_img img {
    width: 225px;
    height: auto;
}
.recruit_m_interviewlist1_tag {
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    display: table;
    margin: 8px auto 16px;
    position: relative;
    padding-bottom: 6px;
}
.recruit_m_interviewlist1_tag:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80px;
    height: 3px;
    transform: translateX(-50%);
    background: #f22c7c; /* Old browsers */
    background: -moz-linear-gradient(left, #744fdf 0%, #f22c7c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #744fdf 0%,#f22c7c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #744fdf 0%,#f22c7c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.recruit_m_interviewlist1_ttl {
    display: block;
    padding: 0 20px;
    font-size: 16px;
    text-align: center;
}
.recruit_m_interviewlist1_ttl br {
    display: none;
}
.recruit_m_interviewlist1_more {
    position: absolute;
    bottom: 15px;
    right: 20px;
    padding-right: 48px;
    text-decoration: none;
    transition: color .2s ease-out;
    font-family: 'Montserrat',sans-serif;
    font-weight: 900;
    font-size: 1.2rem;
}
.recruit_m_interviewlist1 li a:hover .recruit_m_interviewlist1_more {
    color: #F22C7C;
}
.recruit_m_interviewlist1_more:after {
    content: "";
    width: 40px;
    height: 10px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: url(../../../images/top/icon_arrow_right_big.svg) no-repeat right center;
    transition: right .2s ease-out;
}
.recruit_m_interviewlist1 li a:hover .recruit_m_interviewlist1_more:after {
    right: -5px;
}
.recruit_m_interviewlist1 .slick-prev {
    position: absolute;
    top: 50%;
    left: -82px;
    width: 42px;
    height: 80px;
    margin-top: -40px;
    text-indent: -99999px;
    border: none;
    background: url(../../../images/recruit2016/common/bg_prev.png) no-repeat;
}
.recruit_m_interviewlist1 .slick-next {
    position: absolute;
    top: 50%;
    right: -50px;
    width: 41px;
    height: 80px;
    margin-top: -40px;
    text-indent: -99999px;
    border: none;
    background: url(../../../images/recruit2016/common/bg_next.png) no-repeat;
}
.recruit_m_interviewlist1  .slick-prev.slick-disabled,
.recruit_m_interviewlist1  .slick-next.slick-disabled {
    display: none !important;
}

/*
recruit_m_member1
*/
.recruit_m_member1 {
    margin-bottom: 80px;
    padding: 35px 55px;
    background: #f6f6f6;
    overflow: hidden;
}
.recruit_m_member1_img {
    float: left;
    margin: 0 60px 0 0;
    padding: 0;
}
.recruit_m_member1_detail {
    overflow: hidden;
    margin-bottom: -15px !important;
    line-height: 1.2;
}
.recruit_m_member1_detail dt {
    float: left;
    clear: left;
    width: 8em;
    margin-bottom: 15px;
    color: #666666;
}
.recruit_m_member1_detail dd {
    margin-bottom: 15px;
    padding-left: 10px;
    overflow: hidden;
    border-left: 1px solid #bbbbbb;
}



/*
recruit_m_talk1
*/
.recruit_m_talk1 {
    margin-bottom: 60px;
    overflow: hidden;
}
.recruit_m_talk1_col1 {
    float: left;
    width: 310px;
    margin: 0;
    padding: 0;
}
.recruit_m_talk1_col2 {
    float: right;
    width: 650px;
}
.recruit_m_talk1_ttl {
    position: relative;
    margin-bottom: 40px;
    padding-left: 7em;
    font-size: 16px;
    font-weight: normal;
    color: #f22c7c;
}
.recruit_m_talk1_ttl:before {
    content: '';
    position: absolute;
    top: 0.8em;
    left: 0;
    display: block;
    width: 4em;
    height: 1px;
    background: #f22c7c;
}
.recruit_m_talk1_txt {
    margin: 0 !important;
    font-size: 16px;
}
.recruit_m_talk1_txt > dt {
    float: left;
    width: 7em;
}
.recruit_m_talk1_txt > dd {
    overflow: hidden;
}
.recruit_m_talk1_txt p {
    margin-bottom: 0;
}
.recruit_m_talk1_txt p + p {
    margin-top: 40px;
}



/*
recruit_m_mission1
*/
.recruit_m_mission1 {
    margin-bottom: 40px;
    padding-bottom: 10px;

    border-bottom: 1px solid #cccccc;
}
.recruit_m_mission1_imgs {
    margin-bottom: 30px;
    overflow: hidden;
}
.recruit_m_mission1_imgs li {
    float: left;
}
.recruit_m_mission1_txt {
    padding: 0 50px;
    font-size: 16px;
}
.recruit_m_mission1_txt p {
    margin-bottom: 30px;
}



/*
recruit_m_lab
*/
.recruit_m_lab {
    margin-bottom: 60px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cccccc;
}
.recruit_m_lab_list {
    overflow: hidden;
    margin-bottom: 30px;
}
.recruit_m_lab_list li {
    float: left;
    display: table;
    width: 310px;
}
.recruit_m_lab_list li + li {
    margin-left: 30px;
}
.recruit_m_lab_list li span {
    display: table-cell;
    vertical-align: middle;
}
.recruit_m_lab_list_img {
    width: 140px;
    white-space: nowrap;
}
.recruit_m_lab_list_img img {
    width: 100%;
    min-width: 140px;
    height: auto;
    vertical-align: bottom;
}
.recruit_m_lab_list_txt {
    width: 99%;
    padding: 5px 10px;
    font-size: 12px;
    background: #ffffff;
}
.recruit_m_lab a {
    display: block;
    color: #333333;
    -webkit-transition-duration:  0.3s;
       -moz-transition-duration:  0.3s;
        -ms-transition-duration:  0.3s;
         -o-transition-duration:  0.3s;
            transition-duration:  0.3s;
}
.recruit_m_lab a:hover {
    opacity: 0.7;
}



/*
recruit_m_outline_summary
*/
.recruit_m_outline_summary {
    margin: 40px 55px 60px;
    font-size: 16px;
}
.recruit_m_outline_summary_ttl {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: normal;
    color: #f22c7c;
    text-align: center;
}



/*
recruit_m_table1
*/
.recruit_m_table1 {
    width: 100%;
    margin-bottom: 80px;
    border-collapse: collapse;
}
.recruit_m_table1 th {
    width: 25%;
    padding: 25px 30px;
    color: #ffffff;
    vertical-align: top;
    border-bottom: 1px solid #ffffff;
    background: #999999;
}
.recruit_m_table1 td {
    padding: 25px 30px;
    vertical-align: top;
    border-bottom: 1px solid #ffffff;
    background: #eeeeee;
}
.recruit_m_table1 :last-child {
    margin-bottom: 0;
}



/*
recruit_m_joblist1
*/
.recruit_m_joblist1 li + li{
    margin-top: 30px;
}
.recruit_m_joblist1_ttl {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: normal;
}
.recruit_m_joblist1_ttl span{
    margin-right: 10px;
    font-size: 28px;
    font-family: "Roboto Condensed", Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;
}
.recruit_m_joblist1 a {
    display: block;
    color: #666666 !important;
    text-decoration: none !important;
    -webkit-transition-duration:  0.3s;
       -moz-transition-duration:  0.3s;
        -ms-transition-duration:  0.3s;
         -o-transition-duration:  0.3s;
            transition-duration:  0.3s;
}
.recruit_m_joblist1 a:hover {
    opacity: 0.7;
}
.recruit_m_joblist1 a + a {
    margin-top: 10px;
}
.recruit_m_joblist1 dl {
    position: relative;
    display: table;
    width: 100%;
    margin: 0 !important;
}
.recruit_m_joblist1 dl:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    display: block;
    width: 12px;
    height: 22px;
    margin-top: -11px;
    background: url(../../../images/recruit2016/jobs/jobs_ic01.png) no-repeat 0 0;
}

.recruit_m_joblist1 dl dt {
    display: table-cell;
    width: 225px;
    padding: 20px 0;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    background: #76a6dc;
}
.recruit_m_joblist1 dl dd {
    display: table-cell;
    padding: 20px 40px 20px 30px;
    vertical-align: middle;
    background: #eeeeee;
}
.recruit_m_joblist1 p {
    margin: 0 !important;
}



/*
recruit_m_flows1
*/
.recruit_m_flows1 {
    position: relative;
    overflow: hidden;
}
.recruit_m_flows1:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    display: block;
    background: #cccccc;
}
.recruit_m_flows1_col {
    width: 450px;
    padding-bottom: 160px;
}
.recruit_m_flows1_col:first-child {
    float: left;
}
.recruit_m_flows1_col:last-child {
    float: right;
}
.recruit_m_flows1_ttl {
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: normal;
    color: #f22c7c;
    text-align: center;
}
.recruit_m_flows1_list {
    margin-bottom: 40px !important;
}
.recruit_m_flows1_list li {
    position: relative;
    padding-left: 56px;
}
.recruit_m_flows1_list li + li {
    margin-top: 30px;
}
.recruit_m_flows1_list dl dt {
    font-size: 18px;
    font-weight: bold;
}
.recruit_m_flows1_list dl dt span {
    position: absolute;
    top: -8px;
    left: 0;
    display: block;
    width: 40px;
    height: 34px;
    padding-top: 6px;
    font-family: "Roboto Condensed", Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;
    font-weight: normal;
    color: #ffffff;
    text-align: center;
    background: #999999;
    border-radius: 20px;
}
.recruit_m_flows1_list dl dd {
    font-size: 12px;
}
.recruit_m_flows1_notes {
    font-size: 12px;
}

.recruit_m_flows1_btn .recruit_m_btn1 {
    position: absolute;
    bottom: 65px;
}
.recruit_m_flows1_col:first-child .recruit_m_flows1_btn .recruit_m_btn1 {
    left: 85px;
}
.recruit_m_flows1_col:last-child .recruit_m_flows1_btn .recruit_m_btn1 {
    right: 85px;
}
.recruit_m_flows1_btn_note {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 450px;
    margin: 0 !important;
    font-size: 12px;
}

/*
.recruit_m_topics
*/
.recruit_m_topics {
    margin-bottom: 50px;
}

.recruit_m_topics:after {
    content: '';
    display: block;
    clear: both;
}

.recruit_m_topics_ttl {
    font-size: 200%;
    font-weight: normal;
    width: 27%;
    float: left;
    font-family: '小塚ゴシック Pro L','Kozuka Gothic Pro Light',sans-serif;
    line-height: 1;
}


/*
.recruit_m_topicList
*/
.recruit_m_topicList {
    box-sizing: border-box;
    overflow: hidden;
    padding-left: 40px;
    border-left: 1px solid #dedede;
}

.recruit_m_topicList > dt {
    float: left;
    width: 7em;
    margin-right: 20px;
    margin-bottom: 5px;
}

.recruit_m_topicList > dd {
    overflow: hidden;
    margin-bottom: 5px;
}


/*
.ecruit_m_topics2
*/
.recruit_l_content .recruit_m_topics2_bannerList {
    margin-bottom: 80px;
}

.recruit_m_topics2_bannerList:after {
    content: '';
    display: block;
    clear: both;
}

.recruit_m_topics2_bannerList > li {
    width: 50%;
    text-align: center;
    float: left;
}

.recruit_m_topics2_bannerList > li img{
    vertical-align: bottom;
}


/*
recruit_c_xx
便利クラス
*/
.recruit_c_txtc {
    text-align: center;
}
.recruit_c_txtr {
    text-align: right;
}


/*
以前のものからのマージ
*/
.theme-header {
  height: auto;
}
.theme-area.l-area-visual {
  background-image: url(../../../images/pc/recruit/bg_mvisual_01.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
  z-index: 5;
}
.theme-area.l-area-visual .l-area-inner {
  padding: 0;
}
.l-area-visual + .recruit_l_container {
    position: relative;
    z-index: 6;
    margin-top: -1px;
    padding-top: 0;
}



/* =====================================================
 Smartphone view
===================================================== */
@media screen and (max-width:800px) {
    .recruit_l_container {
        min-width: 320px;
        padding-top: 0;
        overflow: hidden;
        font-size: 13px;
    }

    /*
    recruit_l_header
    */
    .recruit_l_header_main {
        height: 200px;
        margin-bottom: 0;
        background-position: 54% 0;
        -webkit-background-size: auto 100%;
        background-size: auto 100%;
    }
    .recruit_l_header_main_inner {
        width: 100%;
        height: auto;
    }
    .recruit_l_header_main_ttl {
        margin-bottom: 8px;
        padding: 12px 0 0 10px;
        font-size: 13px;
    }
    .recruit_l_header_main_ttl span {
        font-size: 24px;
    }
    .recruit_l_header_main_lead {
        margin-bottom: 5px;
        padding: 0 40% 0 10px;
        font-size: 10px;
    }
    .recruit_l_header_main_sign {
        position: static;
        padding: 0 41% 0 10px;
        text-align: right;
    }
    .recruit_l_header_main_sign img {
        width: 135px;
        height: auto;
    }
    .recruit_l_header_nav {
        margin-bottom: 20px;
        background: #ffffff;
    }
    .recruit_l_header_nav_inner {
        width: 100%;
    }
    .recruit_l_header_nav_inner ul {
        display: block;
        width: auto;
        height: auto;
        margin: 0;
        overflow: hidden;
    }
    .recruit_l_header_nav_inner ul > li {
        display: block;
        float: left;
        width: 25%;
        height: 60px;
        border-left: 1px solid #dddddd;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .recruit_l_header_nav_inner ul > li:first-child {
        border: none;
    }
    .recruit_l_header_nav_inner ul > li a {
        padding: 5px;
        background: #f6f6f6;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .recruit_l_header_nav_inner ul > li a:hover {
        opacity: 1;
    }
    .recruit_l_header_nav_inner ul > li.is_current a {
        color: #ffffff;
        background: #f22c7c;
    }
    .recruit_l_header_nav_inner ul > li a span {
        font-size: 11px;
        border-bottom: none;
    }


    /*
    recruit_l_content
    */
    .recruit_l_content {
        margin: 0 10px;
    }
    .recruit_l_content p,
    .recruit_l_content dl,
    .recruit_l_content ul,
    .recruit_l_content ol {
        margin-bottom: 15px;
    }


    /*
    recruit_l_content_header
    */
    .recruit_l_content_header {
        width: auto;
        padding: 0 10px 15px 10px;
    }
    .recruit_l_content_header_ttl {
        margin-bottom: 15px;
        font-size: 18px;
    }
    .recruit_l_content_header_lead {
        margin-bottom: 20px !important;
    }
    .recruit_l_content_header_nav {
        display: none;
    }


    /*
    recruit_l_footer
    */
    .recruit_l_footer {
        min-width: 320px;
    }
    .recruit_l_footer_inner {
        width: auto;
        padding: 20px 10px;
    }
    .recruit_l_footer_lead {
        margin-bottom: 15px;
        font-size: 16px;
    }
    .recruit_l_footer_btnwrap {
        margin: 0;
    }
    .recruit_l_footer_btnwrap > li {
        float: none;
        margin-right: 0;
        margin-bottom: 10px;
    }


    /*
    recruit_m_sec
    */
    .recruit_m_sec1 {
        padding: 0 10px;
    }

    .recruit_m_sec1_inner {
        width: auto;
        padding: 30px 0;
    }
    .recruit_m_sec2 {
        margin: 0 -10px;
        padding: 0 10px;
    }

    .recruit_m_sec2_inner {
        width: auto;
        padding: 30px 10px;
    }


    /*
    recruit_m_ttl
    */
    .recruit_m_ttl1 {
        margin-bottom: 15px;
    }
    .recruit_m_ttl1_en {
        font-size: 36px;
    }
    .recruit_m_ttl1_ja {
        margin-top: 4px;
        font-size: 12px;
    }
    .recruit_m_ttl2 {
        margin: 0 0 15px;
        font-size: 18px;
    }
    .recruit_m_ttl3 {
        margin-bottom: 15px;
        font-size: 18px;
    }
    .recruit_m_ttl4 {
        margin-bottom: 10px;
        font-size: 28px;
    }
    .recruit_m_ttl5 {
        margin-bottom: 15px;
        font-size: 14px;
    }
    .recruit_m_ttl6 {
        margin-bottom: 15px;
        font-size: 14px;
    }
    .recruit_m_ttl6 span {
        font-size: 28px;
    }
    .recruit_m_ttl7 {
        margin-bottom: 15px;
        font-size: 18px;
    }


    /*
    recruit_m_img
    */
    .recruit_m_img_full {
        position: relative;
        margin: 0 -10px;
        overflow: hidden;
        text-align: center;
    }


    /*
    recruit_m_imglist
    */
    .recruit_m_imglist1 {
        font-size: 0;
        margin: 0 -3px;
        text-align: center;
    }
    .recruit_m_imglist1 > li {
        display: inline;
        margin: 0 3px;
    }
    .recruit_m_imglist1 > li img {
        width: 45px;
        height: auto;
    }
    .recruit_m_imglist2 {
        margin: -10px 0 0;
    }
    .recruit_m_imglist2 > a{
        float: left;
        display: block;
        width: 50%;
        margin: 10px 0 0;
        color: #333333;
        text-decoration: none !important;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .recruit_m_imglist2 > a:nth-child(2n-1) {
        padding-right: 5px;
    }
    .recruit_m_imglist2 > a:nth-child(2n) {
        padding-left: 5px;
    }
    .recruit_m_imglist2 img {
        width: 100%;
        height: auto;
    }
    .recruit_m_imglist2 figcaption {
        display: none;
    }
    .recruit_m_imglist3 {
        margin: 0 0 20px;
    }
    .recruit_m_imglist3 li {
        float: none;
        width: auto;
        margin-right: 0;
        text-align: center;
    }
    .recruit_m_imglist3 li + li {
        margin-top: 10px;
    }
    .recruit_m_imglist3 figure {
        text-align: center;
    }
    .recruit_m_imglist3 figure img {
        width: 60%;
    }
    .recruit_m_imglist3 figcaption {
        margin-top: 2px;
        font-size: 10px;
    }


    /*
    recruit_m_caption
    */
    .recruit_m_caption_ttl {
        margin-bottom: 3px;
        font-size: 12px;
    }
    .recruit_m_caption_txt {
        font-size: 10px;
    }


    /*
    recruit_m_linkblock
    */
    .recruit_m_linkblock1 {
        margin-bottom: 10px;
    }
    .recruit_m_linkblock1 a:hover {
        opacity: 1;
    }
    .recruit_m_linkblock1_cols {
        position: relative;
        display: block;
        width: 100%;
        height: 0;
        padding-top: 56.5%;
        overflow: hidden;
    }
    .recruit_m_linkblock1_cols .recruit_m_linkblock1_col1 {
        position: static;
        display: block;
        width: auto;
        z-index: 1;
    }
    .recruit_m_linkblock1_cols .recruit_m_linkblock1_col1 img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: auto;
    }
    .recruit_m_linkblock1_cols .recruit_m_linkblock1_col2 {
        position: absolute;
        display: block;
        padding: 0;
        vertical-align: top;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }
    .recruit_m_linkblock1_label {
        position: absolute;
        top: 2px;
        right: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
    .recruit_m_linkblock1_label_inner {
        padding-right: 10px;
        padding-bottom: 5px;
    }
    .recruit_m_linkblock1_label_inner:after {
        height: 2px;
    }
    .recruit_m_linkblock1_label_txt {
        font-size: 0.8rem;
    }
    .recruit_m_linkblock1_label_txt2 {
        font-size: 1.2rem;
    }
    .recruit_m_linkblock1_label_txt + .recruit_m_linkblock1_label_txt2 {
        margin-left: 5px;
    }
    .recruit_m_linkblock1_ttl {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        margin: 0;
        padding: 20px 10px 10px;
        font-size: 15px;
        color: #ffffff;
        background: #000000;
        background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 40%, rgba(0,0,0,1) 100%);
        background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.5) 40%,rgba(0,0,0,1) 100%);
        background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.5) 40%,rgba(0,0,0,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .recruit_m_linkblock1_txt {
        display: none;
    }
    .recruit_m_linkblock1_more {
        display: none;
    }


    /*
    recruit_m_btn
    */
    .recruit_m_btnwrap1 {
        margin: 0;
    }
    .recruit_m_btnwrap1 > li {
        display: block;
        margin: 0;
    }
    .recruit_m_btnwrap1 > li + li {
        margin-top: 10px;
    }
    .recruit_m_btn1 {
        position: relative;
        display: block;
        width: auto;
        padding: 12px 30px 12px 15px;
        font-size: 16px;
    }
    .recruit_m_btn1:hover {
        opacity: 1;
    }
    .recruit_m_btn1:before {
        width: 9px;
        height: 13px;
        margin-top: -6px;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
    }
    .recruit_m_btn1 br {
        display: none;
    }


    /*
    recruit_m_tag
    */
    .recruit_m_tag1 {
        padding: 3px 5px;
        font-size: 10px;
    }



    /*
    recruit_m_interview_header
    */
    .recruit_m_interview_header {
        position: relative;
        height: 160px;
        margin: -10px -10px 0;
        padding: 40px 0 0;
        background-position: 58% 0;
        -webkit-background-size: auto 100%;
        background-size: auto 100%;
    }
    .recruit_m_interview_header_inner {
        width: auto;
    }
    .recruit_m_interview_header_icon {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 12px;
    }
    .recruit_m_interview_header_icon span {
        padding: 3px 10px;
    }
    .recruit_m_interview_header_ttl {
        margin: 0 125px 15px 10px;
        font-size: 18px;
        font-weight: bold;
    }
    .recruit_m_interview_header_ttl br {
        display: none;
    }
    .recruit_m_interview_header_lead {
        margin: 0 125px 0 10px;
        font-size: 12px;
    }


    /*
    recruit_m_interviewlist1
    */
    .recruit_m_interviewlist1 {
        margin-right: -5px;
        margin-left: -5px;
    }
    .recruit_m_interviewlist1 li {
        width: 33.333%;
    }
    .recruit_m_interviewlist1 li a {
        width: 100%;
        padding: 0 5px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .recruit_m_interviewlist1 li a:hover {
        opacity: 1;
    }
    .recruit_m_interviewlist1 figure {
        padding-bottom: 24px;
    }
    .recruit_m_interviewlist1_img img {
        width: 100%;
    }
    .recruit_m_interviewlist1_tag {
        font-size: 0.7rem;
        margin-top: 8px;
        margin-bottom: 5px;
        padding-bottom: 2px;
    }
    .recruit_m_interviewlist1_tag:after {
        width: 40px;
        height: 1px;
    }
    .recruit_m_interviewlist1_ttl {
        padding: 5px 10px;
        font-size: 10px;
        text-align: left;
    }
    .recruit_m_interviewlist1_more {
        font-size: 0.6rem;
        padding-right: 28px;
        bottom: 8px;
    }
    .recruit_m_interviewlist1_more:after {
        background: url(../../../images/top/icon_arrow_right_big.svg) no-repeat right center;
        background-size: auto 4px;
        width: 20px;
    }
    .recruit_m_interviewlist1 .slick-dots {
        margin-top: 10px;
        text-align: center;
    }
    .recruit_m_interviewlist1 .slick-dots li {
        display: inline;
        margin: 0 3px;
    }
    .recruit_m_interviewlist1 .slick-dots button {
        width: 8px;
        height: 8px;
        padding: 0;
        text-indent: -99999px;
        overflow: hidden;
        border: none;
        background: #eeeeee;
        border-radius: 50%;
    }
    .recruit_m_interviewlist1 .slick-dots .slick-active button {
        background: #f22c7c;
    }

    /*
    recruit_m_member1
    */
    .recruit_m_member1 {
        margin: -10px 0 30px;
        padding: 10px;
    }
    .recruit_m_member1_img {
        float: none;
        margin: 0 0 15px 0;
        text-align: center;
    }
    .recruit_m_member1_img img {
        width: 80px;
    }
    .recruit_m_member1_detail {
        margin-bottom: -10px !important;
    }
    .recruit_m_member1_detail dt {
        margin-bottom: 10px;
    }
    .recruit_m_member1_detail dd {
        margin-bottom: 10px;
    }



    /*
    recruit_m_talk1
    */
    .recruit_m_talk1 {
        margin-bottom: 40px;
    }
    .recruit_m_talk1_col1 {
        float: none;
        width: auto;
        margin-bottom: 20px;
    }
    .recruit_m_talk1_col1 img {
        width: 100%;
        height: auto;
    }
    .recruit_m_talk1_col2 {
        float: none;
        width: auto;
    }
    .recruit_m_talk1_ttl {
        margin-bottom: 15px;
        font-size: 14px;
    }
    .recruit_m_talk1_txt {
        font-size: 14px;
    }
    .recruit_m_talk1_txt p + p {
        margin-top: 15px;
    }

    /*
    recruit_m_mission1
    */
    .recruit_m_mission1 {
        margin-bottom: 20px;
    }
    .recruit_m_mission1_imgs {
        margin-bottom: 20px;
    }
    .recruit_m_mission1_imgs li {
        float: left;
        width: 33.33%;
    }
    .recruit_m_mission1_imgs li img {
        width: 100%;
        height: auto;
    }
    .recruit_m_mission1_txt {
        padding: 0 10px;
        font-size: 14px;
    }
    .recruit_m_mission1_txt p {
        margin-bottom: 15px;
    }

    /*
    recruit_m_lab
    */
    .recruit_m_lab {
        margin-bottom: 20px;
    }
    .recruit_m_lab_list {
        margin-bottom: 15px;
    }
    .recruit_m_lab_list li {
        float: none;
        width: 100%;
    }
    .recruit_m_lab_list li + li {
        margin-top: 1px;
        margin-left: 0;
    }
    .recruit_m_lab_list_img {
        width: 80px;
    }
    .recruit_m_lab_list_img img {
        min-width: 80px;
    }
    .recruit_m_lab a:hover {
        opacity: 1;
    }




    /*
    recruit_m_outline_summary
    */
    .recruit_m_outline_summary {
        margin: 20px 0 ;
        font-size: 12px;
    }
    .recruit_m_outline_summary_ttl {
        margin-bottom: 15px;
        font-size: 16px;
        text-align: left;
    }



    /*
    recruit_m_table1
    */
    .recruit_m_table1 {
        margin-bottom: 20px;
        font-size: 12px;
    }
    .recruit_m_table1 th {
        width: 25%;
        padding: 6px 10px;
    }
    .recruit_m_table1 td {
        padding: 6px 10px;
    }



    /*
    recruit_m_joblist1
    */
    .recruit_m_joblist1 li + li{
        margin-top: 20px;
    }
    .recruit_m_joblist1_ttl {
        font-size: 12px;
    }
    .recruit_m_joblist1_ttl span{
        margin-right: 5px;
        font-size: 20px;
    }
    .recruit_m_joblist1 a + a {
        margin-top: 10px;
    }
    .recruit_m_joblist1 a:hover {
        opacity: 1;
    }
    .recruit_m_joblist1 dl {
        display: block;
    }
    .recruit_m_joblist1 dl:after {
        display: none;
    }
    .recruit_m_joblist1 dl dt {
        position: relative;
        display: block;
        width: auto;
        padding: 10px 20px 10px 10px;
        text-align: left;
    }
    .recruit_m_joblist1 dl dt:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 10px;
        display: block;
        width: 6px;
        height: 11px;
        margin-top: -5px;
        background: url(../../../images/recruit2016/jobs/jobs_ic02.png) no-repeat 0 0;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
    }
    .recruit_m_joblist1 dl dd {
        display: block;
        padding: 10px;
    }


    /*
    recruit_m_flows1
    */
    .recruit_m_flows1:after {
        display: none;
    }
    .recruit_m_flows1_col {
        width: auto;
        padding-bottom: 0;
    }
    .recruit_m_flows1_col:first-child {
        float: none;
    }
    .recruit_m_flows1_col:last-child {
        float: none;
    }
    .recruit_m_flows1_col + .recruit_m_flows1_col {
        margin-top: 40px;
    }
    .recruit_m_flows1_ttl {
        margin-bottom: 15px;
        font-size: 16px;
    }
    .recruit_m_flows1_list {
        margin-bottom: 20px !important;
    }
    .recruit_m_flows1_list li {
        padding-left: 40px;
    }
    .recruit_m_flows1_list li + li {
        margin-top: 20px;
    }
    .recruit_m_flows1_list dl dt {
        font-size: 15px;
    }
    .recruit_m_flows1_list dl dt span {
        top: -4px;
        width: 30px;
        height: 26px;
        padding-top: 4px;
        border-radius: 15px;
    }
    .recruit_m_flows1_notes {
        font-size: 10px;
    }
    .recruit_m_flows1_btn {
        margin-top: 30px;
    }
    .recruit_m_flows1_btn .recruit_m_btn1 {
        position: relative;
        bottom: auto;
    }
    .recruit_m_flows1_col:first-child .recruit_m_flows1_btn .recruit_m_btn1 {
        left: auto;
    }
    .recruit_m_flows1_col:last-child .recruit_m_flows1_btn .recruit_m_btn1 {
        right: auto;
    }
    .recruit_m_flows1_btn_note {
        position: static;
        width: auto;
        margin: 0 !important;
        font-size: 10px;
    }


    /*
    .recruit_m_topics
    */
    .recruit_m_topics {
        margin-bottom: 20px;
    }

    .recruit_m_topics:after {
        content: '';
        display: block;
        clear: both;
    }

    .recruit_m_topics_ttl {
        font-size: 167%;
        font-weight: normal;
        margin-bottom: 25px;
        width: auto;
        float: none;
        font-family: 'Roboto Condensed', '小塚ゴシック Pro L','Kozuka Gothic Pro Light',sans-serif;
        line-height: 1;
    }


    /*
    .recruit_m_topicList
    */
    .recruit_m_topicList {
        box-sizing: border-box;
        overflow: hidden;
        padding-left: 0;
        border-left: none;
    }

    .recruit_m_topicList > dt {
        float: left;
        margin-right: 20px;
        margin-bottom: 5px;
    }

    .recruit_m_topicList > dd {
        overflow: hidden;
        margin-bottom: 5px;
    }


    /*
    .recruit_m_topics2
    */
    .recruit_l_content .recruit_m_topics2_bannerList {
        margin-bottom: 40px;
    }

    .recruit_m_topics2_bannerList:after {
        content: '';
        display: block;
        clear: both;
    }

    .recruit_m_topics2_bannerList > li {
        width: auto;
        text-align: center;
        float: none;
        margin-bottom: 15px;
    }

    .recruit_m_topics2_bannerList > li img{
        vertical-align: bottom;
    }

}